{% if app.user != null %}
    <META HTTP-EQUIV="Refresh" CONTENT="0; URL={{path('dashboard')}}">
{% else %}
	<!-- 
	    ####################################################################
	    #                                                                  #
	    #          This Code Has Been Developed By Camilo Perez            #
	    #                Company: Warriors Lab's S.A de C.V                #
	    #                     Ciudad de México 2018                        #
	    #                                                                  #
	    ####################################################################
	-->
	<!DOCTYPE html>
	<html lang="es">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="">
        <meta name="author" content="">
        <title>Login Warriors Lab's</title>
        <link href="{{ asset ('vendor/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">
	    <link href="{{ asset ('vendor/fontawesome-free/css/all.min.css') }}" rel="stylesheet" type="text/css">
	    <link href="{{ asset ('vendor/datatables/dataTables.bootstrap.min.css') }}" rel="stylesheet">
	    <link href="{{ asset ('vendor/datatables/dataTables.responsive.css') }}" rel="stylesheet">
        <link href="{{ asset ('css/login.css') }}" rel="stylesheet">
        <link rel="icon" type="image/x-icon" href="{{ asset('log.ico') }}" />
    </head>
    <body>
		<div class="container">
			<br><br>
			<div class="container text-center">
				<img src="{{ asset ('img/log.png') }}" class="img-fluid mx-auto d-block"> 
			</div>
			{% if error %}
				<div class="col-md-12">
	      			<div class="alert alert-danger" aria-label="Close">
	                    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
	                    <strong>{{ error.messageKey|trans(error.messageData, 'security') }}</strong>
	                </div>
	            </div>
			{% endif %}
			{% for msg in app.session.flashbag().get('estatus') %}
                <div class="container">
                	<div class="col-md-12">
                        <div class="alert alert-info" aria-label="Close">
                            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                            <strong>Info!</strong> {{ msg }}
                        </div>
	                </div>
	            </div>
	        {% endfor %}
	        <br>
	    	<div class="container">
	            <div class="row">
	            	<div class="col-md-3">
	            	</div>
	                <div class="col-md-6">
	                    <div class="login-panel panel panel-default">
	                        <div class="panel-heading">
	                            <h3 class="panel-title"><h3 class="text-center"><i class="fas fa-sign-in-alt"></i>Login</h3></h3>
	                        </div>
	                        <div class="panel-body">
	                            <form action="{{path('login_check')}}" method="post" onsubmit="return validarLogin();" name="login">
	                                <fieldset class="text-center">
	                                	<label>Email</label>
	                                	<div class="form-group input-group">
                                            <span class="input-group-addon">@</span>
                                            <input type="email" id="username" required="required" name="_username" placeholder="Enter your email"  value="{{ last_username }}" class="form-control"/>
                                        </div>
	                                    <br>
	                                    <label>Password</label>
	                                	<div class="form-group input-group">
                                            <span class="input-group-addon"><i class="fas fa-unlock-alt"></i></span>
                                            <input type="password" id="password" required="required" placeholder="Enter your password" name="_password" class="form-control"/>
                                        </div>
                                        <br>
	                                    <input type="submit" value="Enter" class="btn btn-success btn-block"/>
										<input type="hidden" name="_target_path" value="/validacionLogin"/>
										<br>
	                                </fieldset>
	                            </form>
	                        </div>
	                    </div>
	                </div>
	                <div class="col-md-3">
	            	</div>
	            </div>
	        </div>
	  	</div>
	    <script src="{{ asset ('vendor/jquery/jquery.min.js') }}"></script>
		<script src="{{ asset ('vendor/jquery-easing/jquery.easing.min.js') }}"></script>
		<script src="{{ asset ('vendor/bootstrap/js/bootstrap.min.js') }}"></script>
	    <script src="{{ asset ('js/sweetalert.min.js') }}"></script>
	    <script src="{{ asset ('js/jsPagina/login/validarLogin.js') }}"></script>
	    <script>
	        window.setTimeout(function() {
	            $(".alert").fadeTo(5000, 0).slideUp(500, function(){
	                $(this).remove(); 
	            });
	        }, 4000);
	    </script>
    </body>
    <footer class="footer">
	    <div class="container text-center">
	        <span>Warriors lab's <sup>©</sup> Todos los Derechos Reservados.</span>
	    </div>
	</footer>
	</html>
{% endif %}