{% include '@Principal/plantillas/declaracionCabezera.html.twig' %}
{% include '@Principal/plantillas/cuerpo.html.twig' %}
<div id="page-wrapper">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">List ACL group</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        Table ACL group
                    </div>
                    <div class="panel-body">
                        <div class="table-responsive">
                            {% if app.user.role == 'ROLE_ADMINISTRATOR' %}
                                <a href="{{ path('registroAcl') }}">
                                    <button type="button" class="btn btn-success">
                                        Add ACL group
                                    </button>
                                </a>
                                <br><br>
                            {% endif %}
                            <table class="table table-sm table-striped table-bordered table-hover text-center small" id="dataTables-example">
                                <div class="col-md-12">
                                    {% for msg in app.session.flashbag().get('estatus') %}
                                        <div class="alert alert-info" aria-label="Close">
                                            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                                            <strong>Info!</strong> {{ msg }}
                                        </div>
                                    {% endfor %}
                                </div>
                                <thead>
                                    <tr>
                                        <th>Disabled</th>                         
                                        <th>Name</th>
                                        <th>Description</th>
                                        <th>Group</th>
                                        <th>Location</th>
                                        {% if app.user.role == 'ROLE_SUPERUSER' or app.user.role == 'ROLE_ADMINISTRATOR' %}
                                            <th>Operations</th>
                                        {% endif %}                                 
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for acl_groups in acl %}
                                        <tr>
                                            <td>
                                                {% if acl_groups.estatus == true %} On {% else %} Off {% endif %}
                                            </td>
                                            <td>{{ acl_groups.nombre }}</td>
                                            <td>{{ acl_groups.descripcion }}</td>
                                            <td>{{ acl_groups.grupo }}</td>
                                            <td>{{ acl_groups.ubicacion }}</td>
                                            {% if app.user.role == 'ROLE_SUPERUSER' or app.user.role == 'ROLE_ADMINISTRATOR' %}
                                                <td>
                                                    <a href="{{ path('editarAcl',{id:acl_groups.id}) }}">
                                                            <i class="fas fa-pencil-alt"></i>
                                                    </a>
                                                    <a href="{{ path('eliminarAcl',{id:acl_groups.id}) }}">
                                                            <i class="fas fa-trash-alt"></i>
                                                    </a>
                                                </td>
                                            {% endif %}
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                            {% if app.user.role == "ROLE_ADMINISTRATOR" or app.user.role == "ROLE_SUPERUSER" %}
                                <br>
                                <div class="card-header bg-dark text-white">Save the configuration</div>
                                <br>
                                <div class="panel-body text-center">
                                    When you click on save button you are saving the acl groups list. <br><br>
                                    <div class="form-group">
                                        {% if acl == true %} 
                                            <a href="{{path('crearXMLAcl',{id:acl[0]['ubicacion']})}}">
                                            <button type="button" class="btn btn-success">
                                                <b>  Save ACL groups list <i class="fas fa-save"></i></b>
                                            </button>
                                        </a>
                                        {% endif %} 
                                    </div>
                                </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% include '@Principal/plantillas/declaracionPiePagina.html.twig' %}
<script src="{{ asset ('vendor/datatables/jquery.dataTables.min.js') }}"></script>
<script src="{{ asset ('vendor/datatables/dataTables.bootstrap.min.js') }}"></script>
 <script>
    window.setTimeout(function() {
        $(".alert").fadeTo(500, 0).slideUp(500, function(){
            $(this).remove(); 
        });
    }, 4000);
</script>
<script>
    $(document).ready(function(){
        $('[data-toggle="tooltip"]').tooltip();   
    });
</script>
<script>
    $(document).ready(function() {
        $('#dataTables-example').DataTable({
                responsive: true
        });
    });
</script>
{% include '@Principal/plantillas/declaracionFin.html.twig' %}