{% include '@Principal/plantillas/declaracionCabezera.html.twig' %}
{% include '@Principal/plantillas/cuerpo.html.twig' %}
<div id="page-wrapper">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">List aliases {{ubicacion}}</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        Table aliases
                    </div>
                    <div class="panel-body">
                        <div class="table-responsive">
                            {% if app.user.role == 'ROLE_ADMINISTRATOR' %}
                                <a href="{{path('registro_aliases',{'id': app.user.grupo })}}">
                                    <button type="button" class="btn btn-success">
                                        Add aliases
                                    </button>
                                </a>
                                <br><br>
                            {% endif %}
                            <table class="table table-sm table-striped table-bordered table-hover small" id="dataTables-example">
                                <div class="col-md-12">
                                    {% for msg in app.session.flashbag().get('estatus') %}
                                        <div class="alert alert-info" aria-label="Close">
                                            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                                            <strong>Info!</strong> {{ msg }}
                                        </div>
                                    {% endfor %}
                                </div>
                                <thead>
                                    <tr>
                                        <th>Name</th>                         
                                        <th>Values</th>
                                        {% if app.user.role == 'ROLE_SUPERUSER' or app.user.role == 'ROLE_ADMINISTRATOR' %}
                                            <th>Edit</th>
                                            <th>Delete</th>
                                        {% endif %}                                 
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for item in xmls %}
                                        <tr>
                                            <td>{{ item.name }}</td>
                                            <td>{{ item.address }}</td>
                                            <td>
                                                <a class="btn btn-warning btn-xs" href="{{ path('editar_aliases',{'id': item.name }) }}">
                                                    Edit <i class="fas fa-pencil-alt"></i>
                                                </a>
                                            </td>
                                            <td>
                                                <a class="btn btn-danger btn-xs" href="{{ path('eliminar_aliases',{id:item.name}) }}">
                                                   Delete <i class="fas fa-trash-alt"></i>
                                                </a>
                                            </td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                            {% if app.user.role == "ROLE_ADMINISTRATOR" or app.user.role == "ROLE_SUPERUSER" %}
                                <div class="panel-body text-center">
                                    When you click on save button you are saving the aliases list. <br><br>
                                    <div class="form-group">
                                        {% if aliases == true %} 
                                            <a href="{{path('crear_xml_aliases',{id:aliases[0]['grupo']})}}">
                                                <button type="button" class="btn btn-success">
                                                    <b>  Save aliases list <i class="fas fa-save"></i></b>
                                                </button>
                                            </a>
                                        {% endif %} 
                                    </div>
                                </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% include '@Principal/plantillas/declaracionPiePagina.html.twig' %}
<script src="{{ asset ('vendor/datatables/jquery.dataTables.min.js') }}"></script>
<script src="{{ asset ('vendor/datatables/dataTables.bootstrap.min.js') }}"></script>
 <script>
    window.setTimeout(function() {
        $(".alert").fadeTo(500, 0).slideUp(500, function(){
            $(this).remove(); 
        });
    }, 4000);
</script>
<script>
    $(document).ready(function(){
        $('[data-toggle="tooltip"]').tooltip();   
    });
</script>
<script>
    $(document).ready(function() {
        $('#dataTables-example').DataTable({
                responsive: true
        });
    });
</script>
{% include '@Principal/plantillas/declaracionFin.html.twig' %}