{% include '@Principal/plantillas/declaracionCabezera.html.twig' %}
{% include '@Principal/plantillas/cuerpo.html.twig' %}
<dir class="container small">
    <div id="content-wrapper">
        <div class="container-fluid">
            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <a href="{{ path('dashboard') }}">Dashboard</a>
                </li>     
                <li class="breadcrumb-item">
                    <a href="{{ path('listaUsuarios') }}">
                        List aliases
                    </a>
                </li>       
            </ol>
            <div class="card mb-3">
                <div class="card-body">
                    <div class="container">
                        <div class="container">
                            <div class="col-md-12">
                                {% for msg in app.session.flashbag().get('estatus') %}
                                    <div class="alert alert-info" aria-label="Close">
                                        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                                        <strong>Info!</strong> {{ msg }}
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                        <div class="card card-register mx-auto mt-">
                            <div class="card-header bg-dark text-white">Aliases</div>
                            <div class="card-body">
                                {{ form_start(form) }}
                                    <div class="form-group">   
                                        {{ form_label(form.nombre) }}
                                        <footer class="blockquote-footer">The name of the alias may only consist of the characters "a-z, A-Z, 0-9.</footer>
                                        {{ form_widget(form.nombre) }}
                                        <span class="text-danger">{{ form_errors(form.nombre) }}</span>
                                    </div>
                                    <div class="form-group">   
                                        {{ form_label(form.descripcion) }}
                                        <footer class="blockquote-footer">A description may be entered here for administrative reference.</footer>
                                        {{ form_widget(form.descripcion) }}
                                        <span class="text-danger">{{ form_errors(form.descripcion) }}</span>
                                    </div>
                                    <div class="form-group">   
                                        {{ form_label(form.tipo) }}
                                        <footer class="blockquote-footer">A description may be entered here for administrative reference.</footer>
                                        {{ form_widget(form.tipo) }}
                                        <span class="text-danger">{{ form_errors(form.tipo) }}</span>
                                    </div>
                                    <div class="form-group">
                                        <div id="host" style="display:;">
                                            <label>Host(s)</label> 
                                            <footer class="blockquote-footer">
                                                Enter as many hosts as desired. Hosts must be specified by their IP address or fully qualified domain name.
                                                Example 192.168.0.125
                                            </footer>
                                        </div>
                                        <div id="network" style="display: none;">
                                            <label>Network(s)</label> 
                                            <footer class="blockquote-footer">
                                                Networks are specified in CIDR format. Select the CIDR mask that pertains to each entry. /32 specifies a single IPv4 host, /128 specifies a single IPv6 host, /24 specifies 255.255.255.0, /64 specifies a normal IPv6 network, etc. Hostnames (FQDNs) may also be specified, using a /32 mask for IPv4 or /128 for IPv6. Example 192.168.0.125/32
                                            </footer>
                                        </div>
                                        <div id="port" style="display: none;">
                                            <label>Port(s)</label> 
                                            <footer class="blockquote-footer">Enter ports as desired, with a single port or port range per entry. Port ranges can be expressed by separating with a colon.</footer>
                                        </div>
                                        <div id="url" style="display: none;">
                                            <label>URL (Ips)</label> 
                                            <footer class="blockquote-footer">Enter as many URLs as desired. After saving, the URLs will be downloaded and the items imported into the alias. Use only with small sets of IP addresses (less than 3000).</footer>
                                        </div>
                                        <div id="url_ports" style="display: none;">
                                            <label>URL (Ports)</label> 
                                            <footer class="blockquote-footer">Enter as many URLs as desired. After saving, the URLs will be downloaded and the items imported into the alias. Use only with small sets of Ports (less than 3000).</footer>
                                        </div>
                                        <div id="urltable" style="display: none;">
                                            <label>URL Table (Ips)</label> 
                                            <footer class="blockquote-footer">Enter a single URL containing a large number of IPs and/or Subnets. After saving, the URLs will be downloaded and a table file containing these addresses will be created. This will work with large numbers of addresses (30,000+) or small numbers. The value after the "/" is the update frequency in days.</footer>
                                        </div>
                                        <div id="urltable_ports" style="display: none;">
                                            <label>URL Table (Ports)</label> 
                                            <footer class="blockquote-footer">Enter a single URL containing a list of Port numbers and/or Port ranges. After saving, the URL will be downloaded. The value after the "/" is the update frequency in days.</footer>
                                        </div>
                                        <div id="items" class="form-group">
                                            <div class="form-row">
                                                <div class="col-md-6">  
                                                    <input type="text" name="ip_port[]" class="form-control form-control-sm" placeholder="Addres" required>
                                                    <br>
                                                </div>
                                                <div class="col-md-6">  
                                                    <input type="text" name="descripcion_ip_port[]" class="form-control form-control-sm" placeholder="Description">
                                                    <br>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="container-fluid">
                                        <div class="col-md-4">
                                            <input type="button" id="add" class="btn btn-success btn-sm" value="Add">
                                        </div>
                                    </div>
                                    <br>
                                {{ form_end(form) }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</dir>
{% include '@Principal/plantillas/declaracionPiePagina.html.twig' %}
<script src="{{ asset ('js/jsPagina/aliases/registroAliases.js') }}"></script>
<script>
    window.setTimeout(function() {
        $(".alert").fadeTo(500, 0).slideUp(500, function(){
            $(this).remove(); 
        });
    }, 4000);
</script>
{% include '@Principal/plantillas/declaracionFin.html.twig' %}