<div id="wrapper">
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="navbar-header">
            <a class="navbar-brand" href="{{ path('dashboard') }}">
                WCONSOLE
            </a>
            <!--<a class="navbar-brand" href="{{ path('dashboard') }}">
                <img src="{{ asset('img/logoWarriors.png')}}" style="width:100px;">
            </a>-->
        </div>
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <ul class="nav navbar-right navbar-top-links">
            <li class="dropdown">
                <a href="#">
                    <i class="fa fa-user fa-fw"></i> {{ app.user.nombre }} {{ app.user.apellidos }} 
                </a>
            </li>
        </ul>
        <div class="navbar-default sidebar" role="navigation" id="izquierdo">
            <div class="sidebar-nav navbar-collapse">
                <ul class="nav" id="side-menu">
                    <li class="sidebar-search" id="sidebar-search">
                        <div class="input-group custom-search-form">
                            <img src="{{ asset('img/logotipo.png')}}" style="width:200px;">
                        </div>
                    </li>
                    <li class="sidebar-search">
                        <div class="input-group custom-search-form">
                            <i class="fa fa-user-circle" aria-hidden="true"></i>
                            <span>
                                {% if app.user.role == 'ROLE_SUPERUSER' %}
                                    Super user
                                {% endif %}
                                {% if app.user.role == 'ROLE_ADMINISTRATOR' %}
                                    Administrator
                                {% endif %}
                                {% if app.user.role == 'ROLE_USER' %}
                                    User
                                {% endif %}
                            </span>
                        </div>
                    </li>
                    <li>
                        <a class="text-white" href="{{ path('dashboard') }}">
                            <i class="fas fa-fw fa-tachometer-alt"></i>
                            <span>Dashboard</span>
                        </a>
                    </li>
                    <li>
                        <a class="text-white" href="{{ path('leerArchivoTxt') }}">
                            <i class="fa fa-users"></i>
                            <span>
                                Groups{% if app.user.role == 'ROLE_SUPERUSER' %}/ Add an user {% endif %} 
                            </span>
                        </a>
                    </li>
                    <li>
                        <a class="text-white" href="{{ path('listaUsuarios') }}">
                            <i class="fas fa-user-friends"></i>
                            <span class="nav-link-text">
                                List users
                            </span>
                        </a>
                    </li>
                    {% if app.user.role == 'ROLE_ADMINISTRATOR' %}
                        <li>
                            <a class="text-white" href="{{ path('registroUsuario') }}">
                                <i class="fas fa-user-plus"></i>
                                <span class="nav-link-text">
                                    Register an user
                                </span>
                            </a>
                        </li>
                    {% endif %}
                    <li>
                        <a class="text-white" href="{{ path('gruposAliases') }}">
                            <i class="fas fa-th-large"></i>
                            <span class="nav-link-text">
                                Aliases
                            </span>
                        </a>
                    </li>
                    <li>
                        <a class="text-white" href="{{ path('gruposTarget') }}">
                            <i class="fas fa-certificate"></i>
                            <span class="nav-link-text">
                                Target categories
                            </span>
                        </a>
                    </li>
                    <li>
                        <a class="text-white" href="{{ path('gruposAcl') }}">
                            <i class="fas fa-layer-group"></i>
                            <span class="nav-link-text">
                                ACL groups
                            </span>
                        </a>
                    </li>
                    <li>
                        <a class="text-white" href="{{ path('gruposNat') }}">
                            <i class="fas fa-book-open"></i>
                            <span class="nav-link-text">
                                NAT
                            </span>
                        </a>
                    </li>
                    <li>
                        <a class="text-white" href="{{ path('listGroupFirewall') }}">
                            <i class="fas fa-fire"></i>
                            <span class="nav-link-text">
                                Firewall rules
                            </span>
                        </a>
                    </li>
                    <li>
                        <a class="text-white" href="{{ path('logout') }}">
                            <i class="fas fa-sign-out-alt"></i>
                            <span class="nav-link-text">
                                Logout
                            </span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>