{% include '@Principal/plantillas/declaracionCabezera.html.twig' %}
{% include '@Principal/plantillas/cuerpo.html.twig' %}
<div class="container small">
    <div id="content-wrapper">
        <div class="container-fluid">
            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <a href="{{path('dashboard')}}">Dashboard</a>
                </li>
                <li class="breadcrumb-item active">
                    All nat
                </li>
            </ol>
            <div class="card mb-3">
                <div class="card-header">
                    <i class="fas fa-table"></i>
                    Nat
                </div>
                <div class="card-body">
                    <div class="row">
                        {% for grupos in grupo %}
                            <div class="col-xl-3 col-sm-6 mb-3">
                                <div class="card text-white bg-primary o-hidden h-100">
                                    <div class="card-body">
                                        <div class="card-body-icon">
                                            <i class="fa fa-fw fa-list"></i>
                                        </div>
                                        <div class="mr-5">{{ grupos.nombre }}</div>
                                    </div>
                                    <a class="card-footer text-white btn-outline-danger clearfix small z-1" href="{{ path('registroNatPortForward',{ id:grupos.nombre }) }}">
                                        <span class="float-left">Register a new nat port forward</span>
                                        <span class="float-right">
                                            <i class="fa fa-angle-right"></i>
                                        </span>
                                    </a>
                                    <a class="card-footer text-white btn-outline-danger clearfix small z-1" href="{{ path('registroNatOneToOne',{ id:grupos.nombre }) }}">
                                        <span class="float-left">Register a new nat 1:1</span>
                                        <span class="float-right">
                                            <i class="fa fa-angle-right"></i>
                                        </span>
                                    </a>
                                    <a class="card-footer text-white btn-outline-danger clearfix small z-1" href="{{ path('listaNat',{ id:grupos.nombre }) }}">
                                        <span class="float-left">List aliases</span>
                                        <span class="float-right">
                                            <i class="fa fa-angle-right"></i>
                                        </span>
                                    </a>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% include '@Principal/plantillas/declaracionPiePagina.html.twig' %}
{% include '@Principal/plantillas/declaracionFin.html.twig' %}