{% include '@Principal/plantillas/declaracionCabezera.html.twig' %}
{% include '@Principal/plantillas/cuerpo.html.twig' %}
<div id="page-wrapper">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">List nats</h1>
            </div>
        </div>
        <div class="row small">
            <div class="col-lg-12">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        Table nats
                    </div>
                    <div class="panel-body">
                        <div class="table-responsive">
                            <ul class="nav nav-tabs">
                                <li class="active">
                                    <a class="nav-link active" data-toggle="tab" href="#home">Port forward</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" data-toggle="tab" href="#menu1">1:1</a>
                                </li>
                            </ul>
                            <div class="tab-content">
                                <div id="home" class="container tab-pane active"><br>
                                    {% if app.user.role == 'ROLE_SUPERUSER' or app.user.role == 'ROLE_ADMINISTRATOR' %}
                                        {% set ubicacion = ubicacion %}
                                            <a href="{{path('registroNatPortForward',{'id': ubicacion })}}">
                                                <button type="button" class="btn btn-success">
                                                    Add Port forward
                                                </button>
                                            </a>
                                            <br><br>
                                    {% endif %}
                                    <div class="table-responsive">
                                        <table class="table table-sm table-striped table-bordered table-hover text-center small">
                                            <thead class="small">
                                                <tr>
                                                    <th>Disabled</th>                         
                                                    <th>Interface</th>
                                                    <th>Protocol</th>
                                                    <th>Source Address</th>
                                                    <th>Source Ports</th>
                                                    <th>Dest. Address</th>
                                                    <th>Dest. Ports</th>
                                                    <th>NAT IP</th>
                                                    <th>NAT Ports</th>
                                                    <th>Description</th>
                                                    {% if app.user.role == "ROLE_ADMINISTRATOR" or app.user.role == "ROLE_SUPERUSER" %}
                                                        <th>Operations</th>
                                                    {% endif %}                 
                                                </tr>
                                            </thead>
                                            <tbody class="row_position">
                                                 {% for natPort in nat %}
                                                    <tr id="{{ natPort.id }}" style="cursor: all-scroll;">
                                                        <td>{% if natPort.estatus == true %} on {% else %} off {% endif %} </td>
                                                        <td>{{ natPort.interface|upper }} </td>
                                                        <td>{{ natPort.protocolo|upper }}</td>
                                                        <td>
                                                            {% if natPort.source_advanced_type == "any" %}
                                                                {% if natPort.source_advanced_invert_match == true %} 
                                                                    !*
                                                                {% else %} 
                                                                    *
                                                                {% endif %}    
                                                            {% elseif natPort.source_advanced_type == "network" %}
                                                                {% if natPort.source_advanced_adress_mask1 ==32 %}
                                                                    {% if natPort.source_advanced_invert_match == true %}
                                                                        !{{ natPort.source_advanced_adress_mask }}
                                                                    {% else %} 
                                                                       {{ natPort.source_advanced_adress_mask }}
                                                                    {% endif %}
                                                                {% else %}
                                                                    {% if natPort.source_advanced_invert_match == true %}
                                                                        !{{ natPort.source_advanced_adress_mask }}/{{ natPort.source_advanced_adress_mask1 }}
                                                                    {% else %} 
                                                                       {{ natPort.source_advanced_adress_mask }}/{{ natPort.source_advanced_adress_mask1 }}
                                                                    {% endif %}
                                                                {% endif %}
                                                            {% elseif natPort.source_advanced_type == "pppoe" %}
                                                                {% if natPort.source_advanced_invert_match == true %}
                                                                    !PPPoE
                                                                {% else %} 
                                                                    PPPoE
                                                                {% endif %} 
                                                            {% elseif natPort.source_advanced_type == "l2tp" %}
                                                                {% if natPort.source_advanced_invert_match == true %}
                                                                    !L2TP clients
                                                                {% else %} 
                                                                    L2TP clients
                                                                {% endif %} 
                                                            {% elseif natPort.source_advanced_type == "wan" %}
                                                                {% if natPort.source_advanced_invert_match == true %}
                                                                    !WAN net
                                                                {% else %} 
                                                                    WAN net
                                                                {% endif %} 
                                                            {% elseif natPort.source_advanced_type == "wanip" %}
                                                                {% if natPort.source_advanced_invert_match == true %}
                                                                    !WAN address
                                                                {% else %} 
                                                                    WAN address
                                                                {% endif %} 
                                                            {% elseif natPort.source_advanced_type == "lan" %}
                                                                {% if natPort.source_advanced_invert_match == true %}
                                                                    !LAN net
                                                                {% else %} 
                                                                    LAN net
                                                                {% endif %} 
                                                            {% elseif natPort.source_advanced_type == "lanip" %}
                                                                {% if natPort.source_advanced_invert_match == true %}
                                                                    !LAN address
                                                                {% else %} 
                                                                    LAN address
                                                                {% endif %}
                                                            {% elseif natPort.source_advanced_type == "opt1" %}
                                                                {% if natPort.source_advanced_invert_match == true %}
                                                                    !OPT1 net
                                                                {% else %} 
                                                                    OPT1 net
                                                                {% endif %}  
                                                            {% elseif natPort.source_advanced_type == "opt1ip" %}
                                                                {% if natPort.source_advanced_invert_match == true %}
                                                                    !OPT1IP address
                                                                {% else %} 
                                                                    OPT1IP address
                                                                {% endif %}  
                                                            {% elseif natPort.source_advanced_type == "opt2" %}
                                                                {% if natPort.source_advanced_invert_match == true %}
                                                                    !OPT2 net
                                                                {% else %} 
                                                                    OPT2 net
                                                                {% endif %} 
                                                            {% elseif natPort.source_advanced_type == "opt2ip" %}
                                                                {% if natPort.source_advanced_invert_match == true %}
                                                                    !OPT2IP address
                                                                {% else %} 
                                                                    OPT2IP address
                                                                {% endif %} 
                                                            {% elseif natPort.source_advanced_type == "opt3" %}
                                                                {% if natPort.source_advanced_invert_match == true %}
                                                                    !OPT3 net
                                                                {% else %} 
                                                                    OPT3 net
                                                                {% endif %}
                                                            {% elseif natPort.source_advanced_type == "opt3ip" %}
                                                                {% if natPort.source_advanced_invert_match == true %}
                                                                    !OPT3IP address
                                                                {% else %} 
                                                                    OPT3IP address
                                                                {% endif %} 
                                                            {% else %} 
                                                                {% if natPort.source_advanced_invert_match == true %}
                                                                    !{{ natPort.source_advanced_adress_mask }} 
                                                                {% else %} 
                                                                   {{ natPort.source_advanced_adress_mask }} 
                                                                {% endif %}
                                                            {% endif %}
                                                        </td>
                                                        <td>
                                                            {% if natPort.source_advanced_from_port == "any" %} 
                                                                *
                                                            {% elseif natPort.source_advanced_from_port == '5999' %}
                                                                5999 (CVSup)  
                                                            {% elseif natPort.source_advanced_from_port == '53' %}
                                                                53 (DNS)  
                                                            {% elseif natPort.source_advanced_from_port == '21' %}
                                                                21 (FTP)  
                                                            {% elseif natPort.source_advanced_from_port == '3000' %}
                                                                3000 (HBCI)  
                                                            {% elseif natPort.source_advanced_from_port == '80' %}
                                                                80 (HTTP) 
                                                            {% elseif natPort.source_advanced_from_port == '443' %}
                                                                443 (HTTPS)  
                                                            {% elseif natPort.source_advanced_from_port == '5190' %}
                                                                5190 (ICQ)
                                                            {% elseif natPort.source_advanced_from_port == '113' %}
                                                                113 IDENT/AUTH 
                                                            {% elseif natPort.source_advanced_from_port == '143' %}
                                                                143 (IMAP)  
                                                            {% elseif natPort.source_advanced_from_port == '993' %}
                                                                993 (IMAP/S)  
                                                            {% elseif natPort.source_advanced_from_port == '4500' %}
                                                                4500 (IPsec NAT-T)
                                                            {% elseif natPort.source_advanced_from_port == '500' %}
                                                                500 (ISAKMP)  
                                                            {% elseif natPort.source_advanced_from_port == '1701' %}
                                                                1701 (L2TP)  
                                                            {% elseif natPort.source_advanced_from_port == '389' %}
                                                                389 (LDAP)  
                                                            {% elseif natPort.source_advanced_from_port == '1755' %}
                                                                1755 (MMS/TCP)  
                                                            {% elseif natPort.source_advanced_from_port == '7000' %}
                                                                7000 (MMS/UDP)  
                                                            {% elseif natPort.source_advanced_from_port == '445' %}
                                                                445 (MS DS)  
                                                            {% elseif natPort.source_advanced_from_port == '3389' %}
                                                                3389 (MS RDP)  
                                                            {% elseif natPort.source_advanced_from_port == '1512' %}
                                                                1512 (MS WINS) 
                                                            {% elseif natPort.source_advanced_from_port == '1863' %}
                                                                1863 (MSN)  
                                                            {% elseif natPort.source_advanced_from_port == '119' %}
                                                                119 (NNTP)  
                                                            {% elseif natPort.source_advanced_from_port == '123' %}
                                                                123 (NTP)  
                                                            {% elseif natPort.source_advanced_from_port == '138' %}
                                                                138 (NetBIOS-DGM)  
                                                            {% elseif natPort.source_advanced_from_port == '137' %}
                                                                137 (NetBIOS-NS)
                                                            {% elseif natPort.source_advanced_from_port == '139' %}
                                                                139 (NetBIOS-SSN)  
                                                            {% elseif natPort.source_advanced_from_port == '1194' %}
                                                                1194 (OpenVPN)  
                                                            {% elseif natPort.source_advanced_from_port == '110' %}
                                                                110 (POP3)
                                                            {% elseif natPort.source_advanced_from_port == '995' %}
                                                                995 (POP3/S)  
                                                            {% elseif natPort.source_advanced_from_port == '1723' %}
                                                                1723 (PPTP)  
                                                            {% elseif natPort.source_advanced_from_port == '1812' %}
                                                                1812 (RADIUS)  
                                                            {% elseif natPort.source_advanced_from_port == '1813' %}
                                                                1813 (RADIUS accounting)  
                                                            {% elseif natPort.source_advanced_from_port == '5004' %}
                                                                5004 (RTP) 
                                                            {% elseif natPort.source_advanced_from_port == '5060' %}
                                                                5060 (SIP)  
                                                            {% elseif natPort.source_advanced_from_port == '25' %}
                                                                25 (SMTP)  
                                                            {% elseif natPort.source_advanced_from_port == '465' %}
                                                                465 (SMTP/S)  
                                                            {% elseif natPort.source_advanced_from_port == '161' %}
                                                                161 (SNMP)  
                                                            {% elseif natPort.source_advanced_from_port == '162' %}
                                                                162 (SNMP-Trap)
                                                            {% elseif natPort.source_advanced_from_port == '22' %}
                                                                22 (SSH)  
                                                            {% elseif natPort.source_advanced_from_port == '3478' %}
                                                                3478 (STUN)  
                                                            {% elseif natPort.source_advanced_from_port == '587' %}
                                                                587 (SUBMISSION)  
                                                            {% elseif natPort.source_advanced_from_port == '3544' %}
                                                                3544 (Teredo)
                                                            {% elseif natPort.source_advanced_from_port == '23' %}
                                                                23 (Telnet)  
                                                            {% elseif natPort.source_advanced_from_port == '69' %}
                                                                69 (TFTP)  
                                                            {% elseif natPort.source_advanced_from_port == '5900' %}
                                                                5900 (VNC)  
                                                            {% else %}
                                                                {% if natPort.source_advanced_custom == natPort.source_advanced_custom_to_port %}
                                                                    {{ natPort.source_advanced_custom }}
                                                                {% else %}
                                                                    {{ natPort.source_advanced_custom }} - {{ natPort.source_advanced_custom_to_port }}
                                                                {% endif %}
                                                            {% endif %}
                                                        </td>
                                                        <td>
                                                            {% if natPort.destination_type == "any" %} 
                                                                {% if natPort.destination_invert_match == true %} 
                                                                    !*
                                                                {% else %} 
                                                                    *
                                                                {% endif %} 
                                                            {% elseif natPort.destination_type == "network" %}
                                                                {% if natPort.destination_adress_mask2 ==32 %}
                                                                    {% if natPort.destination_invert_match == true %}
                                                                        !{{ natPort.destination_adress_mask }}
                                                                    {% else %} 
                                                                        {{ natPort.destination_adress_mask }}
                                                                    {% endif %}
                                                                {% else %}
                                                                    {% if natPort.destination_invert_match == true %}
                                                                        !{{ natPort.destination_adress_mask }}/{{ natPort.destination_adress_mask2 }}
                                                                    {% else %} 
                                                                        {{ natPort.destination_adress_mask }}/{{ natPort.destination_adress_mask2 }}
                                                                    {% endif %}
                                                                {% endif %}
                                                            {% elseif natPort.destination_type == "pppoe" %}
                                                                {% if natPort.destination_invert_match == true %}
                                                                    !PPPoE
                                                                {% else %} 
                                                                    PPPoE
                                                                {% endif %}
                                                            {% elseif natPort.destination_type == "l2tp" %}
                                                                {% if natPort.destination_invert_match == true %}
                                                                    !L2TP clients
                                                                {% else %} 
                                                                    L2TP clients
                                                                {% endif %}
                                                            {% elseif natPort.destination_type == "wan" %}
                                                                {% if natPort.destination_invert_match == true %}
                                                                    !WAN net
                                                                {% else %} 
                                                                    WAN net
                                                                {% endif %}
                                                            {% elseif natPort.destination_type == "wanip" %}
                                                                {% if natPort.destination_invert_match == true %}
                                                                    !WAN address
                                                                {% else %} 
                                                                    WAN address
                                                                {% endif %}
                                                            {% elseif natPort.destination_type == "lan" %}
                                                                {% if natPort.destination_invert_match == true %}
                                                                    !LAN net
                                                                {% else %} 
                                                                    LAN net
                                                                {% endif %}
                                                            {% elseif natPort.destination_type == "lanip" %}
                                                                {% if natPort.destination_invert_match == true %}
                                                                    !LAN address
                                                                {% else %} 
                                                                    LAN address
                                                                {% endif %}
                                                            {% elseif natPort.destination_type == "(self)" %}
                                                                {% if natPort.destination_invert_match == true %}
                                                                    !This Firewall
                                                                {% else %} 
                                                                    This Firewall
                                                                {% endif %}
                                                            {% elseif natPort.destination_type == "opt1" %}
                                                                {% if natPort.destination_invert_match == true %}
                                                                    !OPT1 net
                                                                {% else %} 
                                                                    OPT1 net
                                                                {% endif %}  
                                                            {% elseif natPort.destination_type == "opt1ip" %}
                                                                {% if natPort.destination_invert_match == true %}
                                                                    !OPT1IP address
                                                                {% else %} 
                                                                    OPT1IP address
                                                                {% endif %}  
                                                            {% elseif natPort.destination_type == "opt2" %}
                                                                {% if natPort.destination_invert_match == true %}
                                                                    !OPT2 net
                                                                {% else %} 
                                                                    OPT2 net
                                                                {% endif %} 
                                                            {% elseif natPort.destination_type == "opt2ip" %}
                                                                {% if natPort.destination_invert_match == true %}
                                                                    !OPT2IP address
                                                                {% else %} 
                                                                    OPT2IP address
                                                                {% endif %} 
                                                            {% elseif natPort.destination_type == "opt3" %}
                                                                {% if natPort.destination_invert_match == true %}
                                                                    !OPT3 net
                                                                {% else %} 
                                                                    OPT3 net
                                                                {% endif %}
                                                            {% elseif natPort.destination_type == "opt3ip" %}
                                                                {% if natPort.destination_invert_match == true %}
                                                                    !OPT3IP address
                                                                {% else %} 
                                                                    OPT3IP address
                                                                {% endif %} 
                                                            {% else %}
                                                                {% if natPort.destination_invert_match == true %}
                                                                    !{{ natPort.destination_adress_mask }} 
                                                                {% else %} 
                                                                    {{ natPort.destination_adress_mask }}
                                                                {% endif %}
                                                            {% endif %}
                                                        </td>
                                                        <td>
                                                            {% if natPort.destination_range_from_port == "any" %} 
                                                                *
                                                            {% elseif natPort.destination_range_from_port == '5999' %}
                                                                5999 (CVSup)  
                                                            {% elseif natPort.destination_range_from_port == '53' %}
                                                                53 (DNS)  
                                                            {% elseif natPort.destination_range_from_port == '21' %}
                                                                21 (FTP)  
                                                            {% elseif natPort.destination_range_from_port == '3000' %}
                                                                3000 (HBCI)  
                                                            {% elseif natPort.destination_range_from_port == '80' %}
                                                                80 (HTTP) 
                                                            {% elseif natPort.destination_range_from_port == '443' %}
                                                                443 (HTTPS)  
                                                            {% elseif natPort.destination_range_from_port == '5190' %}
                                                                5190 (ICQ)
                                                            {% elseif natPort.destination_range_from_port == '113' %}
                                                                113 IDENT/AUTH 
                                                            {% elseif natPort.destination_range_from_port == '143' %}
                                                                143 (IMAP)  
                                                            {% elseif natPort.destination_range_from_port == '993' %}
                                                                993 (IMAP/S)  
                                                            {% elseif natPort.destination_range_from_port == '4500' %}
                                                                4500 (IPsec NAT-T)
                                                            {% elseif natPort.destination_range_from_port == '500' %}
                                                                500 (ISAKMP)  
                                                            {% elseif natPort.destination_range_from_port == '1701' %}
                                                                1701 (L2TP)  
                                                            {% elseif natPort.destination_range_from_port == '389' %}
                                                                389 (LDAP)  
                                                            {% elseif natPort.destination_range_from_port == '1755' %}
                                                                1755 (MMS/TCP)  
                                                            {% elseif natPort.destination_range_from_port == '7000' %}
                                                                7000 (MMS/UDP)  
                                                            {% elseif natPort.destination_range_from_port == '445' %}
                                                                445 (MS DS)  
                                                            {% elseif natPort.destination_range_from_port == '3389' %}
                                                                3389 (MS RDP)  
                                                            {% elseif natPort.destination_range_from_port == '1512' %}
                                                                1512 (MS WINS) 
                                                            {% elseif natPort.destination_range_from_port == '1863' %}
                                                                1863 (MSN)  
                                                            {% elseif natPort.destination_range_from_port == '119' %}
                                                                119 (NNTP)  
                                                            {% elseif natPort.destination_range_from_port == '123' %}
                                                                123 (NTP)  
                                                            {% elseif natPort.destination_range_from_port == '138' %}
                                                                138 (NetBIOS-DGM)  
                                                            {% elseif natPort.destination_range_from_port == '137' %}
                                                                137 (NetBIOS-NS)
                                                            {% elseif natPort.destination_range_from_port == '139' %}
                                                                139 (NetBIOS-SSN)  
                                                            {% elseif natPort.destination_range_from_port == '1194' %}
                                                                1194 (OpenVPN)  
                                                            {% elseif natPort.destination_range_from_port == '110' %}
                                                                110 (POP3)
                                                            {% elseif natPort.destination_range_from_port == '995' %}
                                                                995 (POP3/S)  
                                                            {% elseif natPort.destination_range_from_port == '1723' %}
                                                                1723 (PPTP)  
                                                            {% elseif natPort.destination_range_from_port == '1812' %}
                                                                1812 (RADIUS)  
                                                            {% elseif natPort.destination_range_from_port == '1813' %}
                                                                1813 (RADIUS accounting)  
                                                            {% elseif natPort.destination_range_from_port == '5004' %}
                                                                5004 (RTP) 
                                                            {% elseif natPort.destination_range_from_port == '5060' %}
                                                                5060 (SIP)  
                                                            {% elseif natPort.destination_range_from_port == '25' %}
                                                                25 (SMTP)  
                                                            {% elseif natPort.destination_range_from_port == '465' %}
                                                                465 (SMTP/S)  
                                                            {% elseif natPort.destination_range_from_port == '161' %}
                                                                161 (SNMP)  
                                                            {% elseif natPort.destination_range_from_port == '162' %}
                                                                162 (SNMP-Trap)
                                                            {% elseif natPort.destination_range_from_port == '22' %}
                                                                22 (SSH)  
                                                            {% elseif natPort.destination_range_from_port == '3478' %}
                                                                3478 (STUN)  
                                                            {% elseif natPort.destination_range_from_port == '587' %}
                                                                587 (SUBMISSION)  
                                                            {% elseif natPort.destination_range_from_port == '3544' %}
                                                                3544 (Teredo)
                                                            {% elseif natPort.destination_range_from_port == '23' %}
                                                                23 (Telnet)  
                                                            {% elseif natPort.destination_range_from_port == '69' %}
                                                                69 (TFTP)  
                                                            {% elseif natPort.destination_range_from_port == '5900' %}
                                                                5900 (VNC)  
                                                            {% else %}
                                                                {% if natPort.destination_range_custom == natPort.destination_range_custom_to_port %}
                                                                    {{ natPort.destination_range_custom }}
                                                                {% else %}
                                                                    {{ natPort.destination_range_custom }} - {{ natPort.destination_range_custom_to_port }}
                                                                {% endif %}
                                                            {% endif %}
                                                        </td>
                                                        <td>{{ natPort.redirect_target_ip  }}</td>
                                                        <td>
                                                            {% if natPort.redirect_target_port == 'any' %}
                                                                *
                                                            {% elseif natPort.redirect_target_port == '5999' %}
                                                                5999 (CVSup)  
                                                            {% elseif natPort.redirect_target_port == '53' %}
                                                                53 (DNS)  
                                                            {% elseif natPort.redirect_target_port == '21' %}
                                                                21 (FTP)  
                                                            {% elseif natPort.redirect_target_port == '3000' %}
                                                                3000 (HBCI)  
                                                            {% elseif natPort.redirect_target_port == '80' %}
                                                                80 (HTTP) 
                                                            {% elseif natPort.redirect_target_port == '443' %}
                                                                443 (HTTPS)  
                                                            {% elseif natPort.redirect_target_port == '5190' %}
                                                                5190 (ICQ)
                                                            {% elseif natPort.redirect_target_port == '113' %}
                                                                113 IDENT/AUTH 
                                                            {% elseif natPort.redirect_target_port == '143' %}
                                                                143 (IMAP)    
                                                            {% elseif natPort.redirect_target_port == '993' %}
                                                                993 (IMAP/S)  
                                                            {% elseif natPort.redirect_target_port == '4500' %}
                                                                4500 (IPsec NAT-T)
                                                            {% elseif natPort.redirect_target_port == '500' %}
                                                                500 (ISAKMP)  
                                                            {% elseif natPort.redirect_target_port == '1701' %}
                                                                1701 (L2TP)  
                                                            {% elseif natPort.redirect_target_port == '389' %}
                                                                389 (LDAP)  
                                                            {% elseif natPort.redirect_target_port == '1755' %}
                                                                1755 (MMS/TCP)  
                                                            {% elseif natPort.redirect_target_port == '7000' %}
                                                                7000 (MMS/UDP)  
                                                            {% elseif natPort.redirect_target_port == '445' %}
                                                                445 (MS DS)  
                                                            {% elseif natPort.redirect_target_port == '3389' %}
                                                                3389 (MS RDP)  
                                                            {% elseif natPort.redirect_target_port == '1512' %}
                                                                1512 (MS WINS) 
                                                            {% elseif natPort.redirect_target_port == '1863' %}
                                                                1863 (MSN)  
                                                            {% elseif natPort.redirect_target_port == '119' %}
                                                                119 (NNTP)  
                                                            {% elseif natPort.redirect_target_port == '123' %}
                                                                123 (NTP)  
                                                            {% elseif natPort.redirect_target_port == '138' %}
                                                                138 (NetBIOS-DGM)  
                                                            {% elseif natPort.redirect_target_port == '137' %}
                                                                137 (NetBIOS-NS)
                                                            {% elseif natPort.redirect_target_port == '139' %}
                                                                139 (NetBIOS-SSN)  
                                                            {% elseif natPort.redirect_target_port == '1194' %}
                                                                1194 (OpenVPN)  
                                                            {% elseif natPort.redirect_target_port == '110' %}
                                                                110 (POP3)
                                                            {% elseif natPort.redirect_target_port == '995' %}
                                                                995 (POP3/S)  
                                                            {% elseif natPort.redirect_target_port == '1723' %}
                                                                1723 (PPTP)  
                                                            {% elseif natPort.redirect_target_port == '1812' %}
                                                                1812 (RADIUS)  
                                                            {% elseif natPort.redirect_target_port == '1813' %}
                                                                1813 (RADIUS accounting)  
                                                            {% elseif natPort.redirect_target_port == '5004' %}
                                                                5004 (RTP) 
                                                            {% elseif natPort.redirect_target_port == '5060' %}
                                                                5060 (SIP)  
                                                            {% elseif natPort.redirect_target_port == '25' %}
                                                                25 (SMTP)  
                                                            {% elseif natPort.redirect_target_port == '465' %}
                                                                465 (SMTP/S)  
                                                            {% elseif natPort.redirect_target_port == '161' %}
                                                                161 (SNMP)  
                                                            {% elseif natPort.redirect_target_port == '162' %}
                                                                162 (SNMP-Trap)
                                                            {% elseif natPort.redirect_target_port == '22' %}
                                                                22 (SSH)  
                                                            {% elseif natPort.redirect_target_port == '3478' %}
                                                                3478 (STUN)  
                                                            {% elseif natPort.redirect_target_port == '587' %}
                                                                587 (SUBMISSION)  
                                                            {% elseif natPort.redirect_target_port == '3544' %}
                                                                3544 (Teredo)
                                                            {% elseif natPort.redirect_target_port == '23' %}
                                                                23 (Telnet)  
                                                            {% elseif natPort.redirect_target_port == '69' %}
                                                                69 (TFTP)  
                                                            {% elseif natPort.redirect_target_port == '5900' %}
                                                                5900 (VNC)  
                                                            {% else %}
                                                                {{ natPort.redirect_target_port_custom }}
                                                            {% endif %}
                                                        </td>
                                                        <td>{{ natPort.descripcion }}</td>
                                                        {% if app.user.role == "ROLE_ADMINISTRATOR" or app.user.role == "ROLE_SUPERUSER" %}
                                                            <td>
                                                                <a class="btn btn-warning btn-xs" href="{{path('editarNatPortForward',{id:natPort.id})}}">
                                                                    Edit <i class="fas fa-pencil-alt"></i>
                                                                </a>
                                                                <a class="btn btn-danger btn-xs" href="{{path('eliminarNatPortForward',{id:natPort.id})}}">
                                                                    Delete <i class="fas fa-trash-alt"></i>
                                                                </a>
                                                            </td>
                                                        {% endif %}
                                                    </tr>
                                                {% endfor %}
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                                <div id="menu1" class="container tab-pane fade"><br>
                                    {% if app.user.role == 'ROLE_SUPERUSER' or app.user.role == 'ROLE_ADMINISTRATOR' %}
                                        {% set ubicacion = ubicacion %}
                                            <a href="{{path('registroNatOneToOne',{'id': ubicacion })}}">
                                                <button type="button" class="btn btn-success">
                                                    Add 1:1
                                                </button>
                                            </a>
                                            <br><br>
                                    {% endif %}
                                    <div class="table-responsive">
                                        <table class="table table-sm table-striped table-bordered table-hover text-center small">
                                            <thead>
                                                <tr class="small">
                                                    <th>Disabled</th>                         
                                                    <th>Interface</th>
                                                    <th>External IP</th>
                                                    <th>Internal IP</th>
                                                    <th>Destination IP</th>
                                                    <th>Description</th>
                                                    {% if app.user.role == "ROLE_ADMINISTRATOR" or app.user.role == "ROLE_SUPERUSER" %}
                                                        <th>Operations</th>
                                                    {% endif %}                 
                                                </tr>
                                            </thead>
                                            <tbody class="row_position_one">
                                                {% for natOTO in natOne %}
                                                    <tr id="{{ natOTO.id }}" style="cursor: all-scroll;">
                                                        <td>{% if natOTO.estatus == true %} on {% else %} off {% endif %}</td>
                                                        <td>{{ natOTO.interface|upper }} </td>
                                                        <td>
                                                            {{ natOTO.external_subnet_ip }}
                                                        </td>
                                                        <td>
                                                            {% if natOTO.internal_ip_type == 'any' %}
                                                                {% if natOTO.internal_ip == true %}
                                                                    !*
                                                                {% else %}
                                                                    *
                                                                {% endif %}
                                                            {% endif %}
                                                            {% if natOTO.internal_ip_type == 'single' %}
                                                                {% if natOTO.internal_ip == true %}
                                                                    !{{ natOTO.internal_adress_mask }}
                                                                {% else %}
                                                                    {{ natOTO.internal_adress_mask }}
                                                                {% endif %}
                                                            {% endif %}
                                                            {% if natOTO.internal_ip_type == 'network' %}
                                                                {% if natOTO.maskinternal == 32 %}
                                                                    {% if natOTO.internal_ip == true %}
                                                                        !{{ natOTO.internal_adress_mask }}
                                                                    {% else %} 
                                                                       {{ natOTO.internal_adress_mask }}
                                                                    {% endif %}
                                                                {% else %}
                                                                    {% if natOTO.internal_ip == true %}
                                                                        !{{ natOTO.internal_adress_mask }}/{{ natOTO.maskinternal }}
                                                                    {% else %} 
                                                                       {{ natOTO.internal_adress_mask }}/{{ natOTO.maskinternal }}
                                                                    {% endif %}
                                                                {% endif %}
                                                            {% endif %}
                                                            {% if natOTO.internal_ip_type == 'pppoe' %}
                                                                {% if natOTO.internal_ip == true %}
                                                                    !PPPoE clients
                                                                {% else %}
                                                                    PPPoE clients
                                                                {% endif %}
                                                            {% endif %}
                                                            {% if natOTO.internal_ip_type == 'l2tp' %}
                                                                {% if natOTO.internal_ip == true %}
                                                                    !L2TP clients
                                                                {% else %}
                                                                    L2TP clients
                                                                {% endif %}
                                                            {% endif %}
                                                            {% if natOTO.internal_ip_type == 'wan' %}
                                                                {% if natOTO.internal_ip == true %}
                                                                    !WAN net
                                                                {% else %}
                                                                    WAN net
                                                                {% endif %}
                                                            {% endif %}
                                                            {% if natOTO.internal_ip_type == 'wanip' %}
                                                                {% if natOTO.internal_ip == true %}
                                                                    !WAN address
                                                                {% else %}
                                                                    WAN address
                                                                {% endif %}
                                                            {% endif %}
                                                            {% if natOTO.internal_ip_type == 'lan' %}
                                                                {% if natOTO.internal_ip == true %}
                                                                    !LAN net
                                                                {% else %}
                                                                    LAN net
                                                                {% endif %}
                                                            {% endif %}
                                                            {% if natOTO.internal_ip_type == 'lanip' %}
                                                                {% if natOTO.internal_ip == true %}
                                                                    !LAN address
                                                                {% else %}
                                                                    LAN address
                                                                {% endif %}
                                                            {% elseif natOTO.internal_ip_type == "opt1" %}
                                                                {% if natOTO.internal_ip == true %}
                                                                    !OPT1 net
                                                                {% else %} 
                                                                    OPT1 net
                                                                {% endif %}  
                                                            {% elseif natOTO.internal_ip_type == "opt1ip" %}
                                                                {% if natOTO.internal_ip == true %}
                                                                    !OPT1IP address
                                                                {% else %} 
                                                                    OPT1IP address
                                                                {% endif %}  
                                                            {% elseif natOTO.internal_ip_type == "opt2" %}
                                                                {% if natOTO.internal_ip == true %}
                                                                    !OPT2 net
                                                                {% else %} 
                                                                    OPT2 net
                                                                {% endif %} 
                                                            {% elseif natOTO.internal_ip_type == "opt2ip" %}
                                                                {% if natOTO.internal_ip == true %}
                                                                    !OPT2IP address
                                                                {% else %} 
                                                                    OPT2IP address
                                                                {% endif %} 
                                                            {% elseif natOTO.internal_ip_type == "opt3" %}
                                                                {% if natOTO.internal_ip == true %}
                                                                    !OPT3 net
                                                                {% else %} 
                                                                    OPT3 net
                                                                {% endif %}
                                                            {% elseif natOTO.internal_ip_type == "opt3ip" %}
                                                                {% if natOTO.internal_ip == true %}
                                                                    !OPT3IP address
                                                                {% else %} 
                                                                    OPT3IP address
                                                                {% endif %}
                                                            {% endif %}
                                                        </td>
                                                        <td>
                                                            {% if natOTO.destination_type == 'any' %}
                                                                {% if natOTO.destination == true %}
                                                                    !*
                                                                {% else %}
                                                                    *
                                                                {% endif %}
                                                            {% endif %}
                                                            {% if natOTO.destination_type == 'single' %}
                                                                {% if natOTO.destination == true %}
                                                                    !{{ natOTO.destination_adress_mask }}
                                                                {% else %}
                                                                    {{ natOTO.destination_adress_mask }}
                                                                {% endif %}
                                                            {% endif %}
                                                            {% if natOTO.destination_type == 'network' %}
                                                                {% if natOTO.maskdestination == 32 %}
                                                                    {% if natOTO.internal_ip == true %}
                                                                        !{{ natOTO.destination_adress_mask }}
                                                                    {% else %} 
                                                                       {{ natOTO.destination_adress_mask }}
                                                                    {% endif %}
                                                                {% else %}
                                                                    {% if natOTO.internal_ip == true %}
                                                                        !{{ natOTO.destination_adress_mask }}/{{ natOTO.maskdestination }}
                                                                    {% else %} 
                                                                       {{ natOTO.destination_adress_mask }}/{{ natOTO.maskdestination }}
                                                                    {% endif %}
                                                                {% endif %}
                                                            {% endif %}
                                                            {% if natOTO.destination_type == 'pppoe' %}
                                                                {% if natOTO.destination == true %}
                                                                    !PPPoE clients
                                                                {% else %}
                                                                    PPPoE clients
                                                                {% endif %}
                                                            {% endif %}
                                                            {% if natOTO.destination_type == 'l2tp' %}
                                                                {% if natOTO.destination == true %}
                                                                    !L2TP clients
                                                                {% else %}
                                                                    L2TP clients
                                                                {% endif %}
                                                            {% endif %}
                                                            {% if natOTO.destination_type == 'wan' %}
                                                                {% if natOTO.destination == true %}
                                                                    !WAN net
                                                                {% else %}
                                                                    WAN net
                                                                {% endif %}
                                                            {% endif %}
                                                            {% if natOTO.destination_type == 'wanip' %}
                                                                {% if natOTO.destination == true %}
                                                                    !WAN address
                                                                {% else %}
                                                                    WAN address
                                                                {% endif %}
                                                            {% endif %}
                                                            {% if natOTO.destination_type == 'lan' %}
                                                                {% if natOTO.destination == true %}
                                                                    !LAN net
                                                                {% else %}
                                                                    LAN net
                                                                {% endif %}
                                                            {% endif %}
                                                            {% if natOTO.destination_type == 'lanip' %}
                                                                {% if natOTO.destination == true %}
                                                                    !LAN address
                                                                {% else %}
                                                                    LAN address
                                                                {% endif %}
                                                            {% elseif natOTO.destination_type == "opt1" %}
                                                                {% if natOTO.internal_ip == true %}
                                                                    !OPT1 net
                                                                {% else %} 
                                                                    OPT1 net
                                                                {% endif %}  
                                                            {% elseif natOTO.destination_type == "opt1ip" %}
                                                                {% if natOTO.internal_ip == true %}
                                                                    !OPT1IP address
                                                                {% else %} 
                                                                    OPT1IP address
                                                                {% endif %}  
                                                            {% elseif natOTO.destination_type == "opt2" %}
                                                                {% if natOTO.internal_ip == true %}
                                                                    !OPT2 net
                                                                {% else %} 
                                                                    OPT2 net
                                                                {% endif %} 
                                                            {% elseif natOTO.destination_type == "opt2ip" %}
                                                                {% if natOTO.internal_ip == true %}
                                                                    !OPT2IP address
                                                                {% else %} 
                                                                    OPT2IP address
                                                                {% endif %} 
                                                            {% elseif natOTO.destination_type == "opt3" %}
                                                                {% if natOTO.internal_ip == true %}
                                                                    !OPT3 net
                                                                {% else %} 
                                                                    OPT3 net
                                                                {% endif %}
                                                            {% elseif natOTO.destination_type == "opt3ip" %}
                                                                {% if natOTO.internal_ip == true %}
                                                                    !OPT3IP address
                                                                {% else %} 
                                                                    OPT3IP address
                                                                {% endif %}
                                                            {% endif %}

                                                        </td>
                                                        <td>
                                                            {{ natOTO.descripcion }}
                                                        </td>
                                                        {% if app.user.role == "ROLE_ADMINISTRATOR" or app.user.role == "ROLE_SUPERUSER" %}
                                                            <td>
                                                                <a class="btn btn-warning btn-xs" href="{{path('editarNatOneToOne',{id:natOTO.id})}}">
                                                                    Edit <i class="fas fa-pencil-alt"></i>
                                                                </a>
                                                                <a class="btn btn-danger btn-xs" href="{{path('eliminarNatOneToOne',{id:natOTO.id})}}">
                                                                    Delete <i class="fas fa-trash-alt"></i>
                                                                </a>
                                                            </td>
                                                        {% endif %}
                                                    </tr>
                                                {% endfor %}
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                            {% if app.user.role == "ROLE_ADMINISTRATOR" or app.user.role == "ROLE_SUPERUSER" %}
                                <br>
                                <div class="panel-body text-center">
                                   When you click on save button you are saving the acl groups list. <br><br>
                                    <div class="form-group">
                                        {% if nat == true %} 
                                            <a href="{{path('crearXMLNat',{id:nat[0]['grupo']})}}">
                                            <button type="button" class="btn btn-success">
                                                <b>  Save nat list <i class="fas fa-save"></i></b>
                                            </button>
                                        </a>
                                        {% endif %} 
                                    </div>
                                </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% include '@Principal/plantillas/declaracionPiePagina.html.twig' %}
<script>
    $(document).ready(function () {
        $('#dtBasicExample').DataTable();
        $('.dataTables_length').addClass('bs-select');
    });
</script>
 <script>
    window.setTimeout(function() {
        $(".alert").fadeTo(500, 0).slideUp(500, function(){
            $(this).remove(); 
        });
    }, 4000);
</script>
<script>
    $(document).ready(function(){
        $('[data-toggle="tooltip"]').tooltip();   
    });
</script>
<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
<script>
    // Drag and drop port forward //
        $( ".row_position" ).sortable({
            delay: 150,
            stop: function() {
                var selectedData = new Array();
                $('.row_position>tr').each(function() {
                    selectedData.push($(this).attr("id"));
                });
                updateOrder(selectedData);
            }
        });


        function updateOrder(data) {
            $.ajax({
                url:"{{path('dragAndDropNatPortForward')}}",
                type:'post',
                data:{position:data}
            })
        }
    // Fin //
    
    // Drag and drop one to one //
        $( ".row_position_one" ).sortable({
            delay: 150,
            stop: function() {
                var selectedDataOne = new Array();
                $('.row_position_one>tr').each(function() {
                    selectedDataOne.push($(this).attr("id"));
                });
                updateOrderOne(selectedDataOne);
            }
        });


        function updateOrderOne(data) {
            $.ajax({
                url:"{{path('dragAndDropNatOneToOne')}}",
                type:'post',
                data:{position:data}
            })
        }
    // Fin //
</script>
{% include '@Principal/plantillas/declaracionFin.html.twig' %}