{% include '@Principal/plantillas/declaracionCabezera.html.twig' %}
{% include '@Principal/plantillas/cuerpo.html.twig' %}
<div id="page-wrapper">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">Nat one to one</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        Nat one to one
                    </div>
                    <div class="panel-body small">
                        <div class="row">
                            <div class="col-md-12">
                                {% for msg in app.session.flashbag().get('estatus') %}
                                    <div class="alert alert-info" aria-label="Close">
                                        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                                        <strong>Info!</strong> {{ msg }}
                                    </div>
                                {% endfor %}
                            </div>
                            <div class="col-lg-1">
                            </div>
                            <div class="col-lg-9">
                                {{ form_start(form) }}
                                    <div class="form-group">   
                                        {{ form_label(form.estatus) }}
                                        {{ form_widget(form.estatus) }} <label>Disable this rule.</label>
                                        <span class="text-danger">{{ form_errors(form.estatus) }}</span>
                                    </div>
                                    <div class="form-group">
                                        <label>Interface</label>
                                        <footer class="blockquote-footer">
                                            Choose which interface this rule applies to. In most cases "WAN" is specified.
                                        </footer>
                                        <select class="form-control form-control-sm" name="interface">
                                            <option value="wan">WAN</option>
                                            <option value="lan">LAN</option>
                                            {% for interfaz in interfaces %}
                                                <option value ="{{ interfaz.nombre }}">{{ interfaz.nombre }}</option>
                                            {% endfor %}
                                        </select>  
                                    </div>
                                    <div class="form-group">   
                                        {{ form_label(form.externalSubnetIp) }}
                                        <footer class="blockquote-footer">
                                            Enter the external (usually on a WAN) subnet's starting address for the 1:1 mapping. The subnet mask from the internal address below will be applied to this IP address.
                                        </footer>
                                        {{ form_widget(form.externalSubnetIp) }}
                                        <span class="text-danger">{{ form_errors(form.externalSubnetIp) }}</span>
                                    </div>
                                    <div class="form-row">
                                        <div class="col-md-3">
                                            <div class="form-group">   
                                                {{ form_label(form.internalIp) }}
                                                {{ form_widget(form.internalIp) }} <label>Invert the sense of the match.</label>
                                                <span class="text-danger">{{ form_errors(form.internalIp) }}</span>
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="form-group">   
                                                {{ form_label(form.internalIpType) }}
                                                {{ form_widget(form.internalIpType, { 'id': 'internalIpType' }) }}
                                                <span class="text-danger">{{ form_errors(form.internalIpType) }}</span>
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="form-group">   
                                                {{ form_label(form.internalAdressMask) }}
                                                {{ form_widget(form.internalAdressMask, { 'id': 'internalAdressMask' }) }}
                                                <span class="text-danger">{{ form_errors(form.internalAdressMask) }}</span>
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="form-group"> 
                                                <label>Mask</label>
                                                <select class="form-control form-control-sm" name="mask" id="mask"> 
                                                    {% for i in 32..1 %}
                                                        <option value="{{ i }}">{{ i }}</option>
                                                    {% endfor %}
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-row">
                                        <div class="col-md-3">
                                            <div class="form-group">   
                                                {{ form_label(form.destination) }}
                                                {{ form_widget(form.destination) }} <label>Invert the sense of the match.</label>
                                                <span class="text-danger">{{ form_errors(form.destination) }}</span>
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="form-group">   
                                                {{ form_label(form.destinationType) }}
                                                {{ form_widget(form.destinationType, { 'id': 'destinationType' }) }}
                                                <span class="text-danger">{{ form_errors(form.destinationType) }}</span>
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="form-group">   
                                                {{ form_label(form.destinationAdressMask) }}
                                                {{ form_widget(form.destinationAdressMask, { 'id': 'destinationAdressMask' }) }}
                                                <span class="text-danger">{{ form_errors(form.destinationAdressMask) }}</span>
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="form-group"> 
                                                <label>Mask</label>
                                                <select class="form-control form-control-sm" name="mask" id="mask"> 
                                                    {% for i in 32..1 %}
                                                        <option value="{{ i }}">{{ i }}</option>
                                                    {% endfor %}
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">   
                                        {{ form_label(form.descripcion) }}
                                        <footer class="blockquote-footer">
                                            A description may be entered here for administrative reference (not parsed).
                                        </footer>
                                        {{ form_widget(form.descripcion) }}
                                        <span class="text-danger">{{ form_errors(form.descripcion) }}</span>
                                    </div>
                                    <div class="form-group">   
                                        {{ form_label(form.natReflection) }}
                                        {{ form_widget(form.natReflection) }}
                                        <span class="text-danger">{{ form_errors(form.natReflection) }}</span>
                                    </div>  
                                    <div class="form-group">
                                        {{ form_widget(form.Save) }}
                                    </div>
                                    <div class="form-group">
                                        {{ form_widget(form.Reset) }}
                                    </div>
                                {{ form_end(form) }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% include '@Principal/plantillas/declaracionPiePagina.html.twig' %}
<script src="{{ asset ('js/jsPagina/aliases/registroAliases.js') }}"></script>
{% include '@Principal/plantillas/declaracionFin.html.twig' %}