{% include '@Principal/plantillas/declaracionCabezera.html.twig' %}
{% include '@Principal/plantillas/cuerpo.html.twig' %}
<div id="page-wrapper">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">NAT port forward location {{ubicacion}}</h1>
            </div>
        </div>
        <div class="row">
            {{ form_start(form) }}
                <div class="col-md-6">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            Register NAT port forward <input type="hidden" name="ubicacion" value="{{ubicacion}}">
                        </div>
                        <div class="panel-body small">
                            <div class="form-row">
                                <div class="col-md-12">
                                    {% for msg in app.session.flashbag().get('estatus') %}
                                        <div class="alert alert-info" aria-label="Close">
                                            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                                            <strong>Info!</strong> {{ msg }}
                                        </div>
                                    {% endfor %}
                                </div>
                                <div class="form-group">   
                                    {{ form_label(form.estatus) }}
                                    {{ form_widget(form.estatus) }} <small>Disable this rule.</small>
                                    <span class="text-danger">{{ form_errors(form.estatus) }}</span>
                                </div>
                                <hr>
                                <div class="form-group"> 
                                    <label>Interface</label><br>
                                    <small>
                                        Choose which interface this rule applies to. In most cases "WAN" is specified.
                                    </small><br><br>
                                    <select class="form-control input-sm" name="interface" id="interface">
                                        {% for interface in interfaces_equipo %}
                                            <option value="{{ interface.interfaz }}">{{ interface.nombre }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                                <hr>
                                <div class="form-group">   
                                    {{ form_label(form.protocolo) }}<br>
                                    <small>
                                        Choose which protocol this rule should match. In most cases "TCP" is specified.
                                    </small><br><br>
                                    {{ form_widget(form.protocolo) }}
                                    <span class="text-danger">{{ form_errors(form.protocolo) }}</span>
                                </div>
                                <hr>
                                <div class="form-group">
                                    <a style='cursor: pointer;' onClick="hide_advanced('advanced')"class="boton_mostrar btn btn-primary btn-sm">
                                        Hide advanced <i class="fas fa-angle-double-down"></i>
                                    </a>
                                </div>
                                <div id="advanced">
                                    <hr>
                                    <div class="form-group">
                                        <div class="col-sm-3">
                                            {{ form_label(form.sourceAdvancedInvertMatch) }}
                                            {{ form_widget(form.sourceAdvancedInvertMatch) }} <br><small>Invert match.</small>
                                        </div>
                                        <div class="col-sm-4">
                                            {{ form_widget(form.sourceAdvancedType, { 'id': 'sourceAdvancedType' }) }}
                                            <span class="help-block">Type</span>
                                        </div>
                                        <div class="col-sm-5">
                                            <div class="input-group">
                                                {{ form_widget(form.sourceAdvancedAdressMask, { 'id': 'sourceAdvancedAdressMask' }) }}
                                                <span class="input-group-addon input-group-inbetween pfIpMask">/</span>
                                                {{ form_widget(form.sourceAdvancedAdressMask1, { 'id': 'mask' }) }}
                                            </div>
                                            <span class="help-block">Address/mask</span>
                                        </div>
                                    </div>
                                    <div id="advancedSourcePortRange">
                                        <br><br><br>
                                        <hr>
                                        <div class="form-group">
                                            <label>Source port range</label><br>
                                            <small class="text-justify">
                                                Specify the source port or port range for this rule. This is usually random and almost never equal to the destination port range (and should usually be 'any'). The 'to' field may be left empty if only filtering a single port.
                                            </small>
                                            <br><br>
                                            <div class="form-group">
                                                <div class="col-md-3">
                                                    <div class="form-group">   
                                                        {{ form_widget(form.sourceAdvancedFromPort, { 'id': 'sourceAdvancedFromPort' }) }}
                                                        <span class="help-block">From</span>
                                                    </div>
                                                </div>
                                                <div class="col-md-3">
                                                    <div class="form-group">   
                                                        {{ form_widget(form.sourceAdvancedCustom, { 'id': 'sourceAdvancedCustom' }) }}
                                                        <span class="help-block">Custom</span>
                                                    </div>
                                                </div>
                                                <div class="col-md-3">
                                                    <div class="form-group">   
                                                        {{ form_widget(form.sourceAdvancedToPort, { 'id': 'sourceAdvancedToPort' }) }}
                                                        <span class="help-block">To</span>
                                                    </div>
                                                </div>
                                                <div class="col-md-3">
                                                    <div class="form-group">   
                                                        {{ form_widget(form.sourceAdvancedCustomToPort, { 'id': 'sourceAdvancedCustomToPort' }) }}
                                                        <span class="help-block">Custom</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <br>
                                    <hr>
                                </div>
                                <hr>
                                <div class="form-group">
                                    <label>Destination</label><br>
                                    <div class="col-md-3">
                                        <div class="form-group">   
                                            {{ form_label(form.destinationInvertMatch) }}
                                            {{ form_widget(form.destinationInvertMatch) }} <br><small>Invert match.</small>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">   
                                            {{ form_widget(form.destinationType, { 'id': 'destinationType' }) }}
                                            <span class="help-block">Type</span>
                                        </div>
                                    </div>
                                    <div class="col-sm-5">
                                        <div class="input-group">
                                            {{ form_widget(form.destinationAdressMask, { 'id': 'destinationAdressMask' }) }}
                                            <span class="input-group-addon input-group-inbetween pfIpMask">/</span>
                                            {{ form_widget(form.destinationAdressMask2, { 'id': 'maskDestination' }) }}
                                        </div>
                                        <span class="help-block">Address/mask</span>
                                    </div>
                                </div>
                                <div id="destinationTargetPort">
                                    <br><br>
                                    <hr>
                                    <div class="form-group">
                                        <label>Destination port range</label><br>
                                        <small>
                                            Specify the port or port range for the destination of the packet for this mapping. The 'to' field may be left empty if only mapping a single port.
                                        </small><br><br>
                                        <div class="form-group">
                                            <div class="col-md-3">
                                                <div class="form-group">
                                                    {{ form_widget(form.destinationRangeFromPort, { 'id': 'destinationRangeFromPort' }) }}
                                                    <span class="help-block">From</span>
                                                </div>
                                            </div>
                                            <div class="col-md-3">
                                                <div class="form-group">   
                                                    {{ form_widget(form.destinationRangeCustom, { 'id': 'destinationRangeCustom' }) }}
                                                    <span class="help-block">Custom</span>
                                                </div>
                                            </div>
                                            <div class="col-md-3">
                                                <div class="form-group">   
                                                    {{ form_widget(form.destinationRangeToPort, { 'id': 'destinationRangeToPort' }) }}
                                                    <span class="help-block">To</span>
                                                </div>
                                            </div>
                                            <div class="col-md-3">
                                                <div class="form-group">   
                                                    {{ form_widget(form.destinationRangeCustomToPort, { 'id': 'destinationRangeCustomToPort' }) }}
                                                    <span class="help-block">Custom</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            General Options
                        </div>
                        <div class="panel-body small">
                            <div id="redirectTargetPort">
                                <div class="form-group">
                                    <label>Redirect target port</label><br>
                                    <small>
                                        Specify the port on the machine with the IP address entered above. In case of a port range, specify the beginning port of the range (the end port will be calculated automatically).
                                    </small><br>
                                    <small>
                                        This is usually identical to the "From port" above.
                                    </small><br><br>
                                    <div class="form-group">
                                        <div class="col-md-6">
                                            <div class="form-group">   
                                                {{ form_label(form.redirectTargetPort) }}
                                                {{ form_widget(form.redirectTargetPort, { 'id': 'redirectTargetPort' }) }}
                                                <span class="text-danger">{{ form_errors(form.redirectTargetPort) }}</span>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">   
                                                {{ form_label(form.redirectTargetPortCustom) }}
                                                {{ form_widget(form.redirectTargetPortCustom, { 'id': 'redirectTargetPortCustom' }) }}
                                                <span class="text-danger">{{ form_errors(form.redirectTargetPortCustom) }}</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">   
                                {{ form_label(form.redirectTargetIp) }}<br>
                                <small>
                                    Enter the internal IP address of the server on which to map the ports. E.g.: 192.168.1.12
                                </small><br><br>
                                {{ form_widget(form.redirectTargetIp) }} 
                                <span class="text-danger">{{ form_errors(form.redirectTargetIp) }}</span>
                            </div>
                            <hr>
                            <div class="form-group">   
                                {{ form_label(form.descripcion) }}
                                <footer>
                                    A description may be entered here for administrative reference (not parsed).
                                </footer>
                                {{ form_widget(form.descripcion) }}
                                <span class="text-danger">{{ form_errors(form.descripcion) }}</span>
                            </div>
                            <hr>
                            <div class="form-group">   
                                {{ form_label(form.natReflection) }}
                                {{ form_widget(form.natReflection) }}
                                <span class="text-danger">{{ form_errors(form.natReflection) }}</span>
                            </div>
                            <hr>
                            <div class="form-group">   
                                {{ form_label(form.filterRuleAssociation) }}
                                <footer>
                                     The "pass" selection does not work properly with Multi-WAN. It will only work on an interface containing the default gateway.
                                </footer>
                                {{ form_widget(form.filterRuleAssociation) }}
                                <span class="text-danger">{{ form_errors(form.filterRuleAssociation) }}</span>
                            </div>
                            <div class="form-group">
                                {{ form_widget(form.Save) }}
                            </div>
                            <div class="form-group">
                                {{ form_widget(form.Reset) }}
                            </div> 
                        </div>
                    </div>
                </div>
            {{ form_end(form) }}
        </div>
    </div>
</div>
{% include '@Principal/plantillas/declaracionPiePagina.html.twig' %}
<script src="{{ asset ('js/jsPagina/aliases/registroAliases.js') }}"></script>
<script>
    window.setTimeout(function() {
        $(".alert").fadeTo(500, 0).slideUp(500, function(){
            $(this).remove(); 
        });
    }, 4000);
    // Boton para activar y mostrar el contendo del apartado de hide advanced //
        function hide_advanced(id)
        {
            if (document.getElementById)
            {
                var el = document.getElementById(id);
                el.style.display = (el.style.display == "none") ? "block" : "none";
            }
        }
        window.onload = function()
        {
            hide_advanced("advanced");
        };
    // Fin de Boton para activar hide advanced //
    // Source //
    $(function() 
    {
        $("#sourceAdvancedType").on('change', function() 
        {
            var selectValue = $(this).val();
            switch (selectValue) 
            {
                case "any":
                    $("#sourceAdvancedAdressMask").hide();
                    $("#mask").hide();                
                break;
                case "single":
                    $("#sourceAdvancedAdressMask").show();
                    $("#mask").hide();
                break;
                case "network":
                    $("#sourceAdvancedAdressMask").show();
                    $("#mask").show();
                break;
                case "pppoe":
                    $("#sourceAdvancedAdressMask").hide();
                    $("#mask").hide();
                break;
                case "l2tp":
                    $("#sourceAdvancedAdressMask").hide();
                    $("#mask").hide();
                break;
                case "wan":
                    $("#sourceAdvancedAdressMask").hide();
                    $("#mask").hide();
                break;
                case "wanip":
                    $("#sourceAdvancedAdressMask").hide();
                    $("#mask").hide();
                break;
                case "lan":
                    $("#sourceAdvancedAdressMask").hide();
                    $("#mask").hide();
                break;
                case "lanip":
                    $("#sourceAdvancedAdressMask").hide();
                    $("#mask").hide();
                break;
            }
        }).change();
    });
    // Fin //
    // Funciones exclusivas para el apartado source port range             //
    // Donde el campo from port activa o desactiva el campo custom,  de    //
    // la misma manera el campo to port activa o desactiva el campo custom //
        $( function() 
        {
            $("#sourceAdvancedFromPort").change( function() 
            {
                if ($(this).val() === "") {
                    $("#sourceAdvancedCustom").prop("readonly", false);
                } 
                else 
                {
                    $("#sourceAdvancedCustom").prop("readonly", true);
                }
            });
        });

        $('#sourceAdvancedFromPort').on('change', function() 
        {
            $('#sourceAdvancedToPort').val(this.value).prop('selected', true);
            if($("#sourceAdvancedToPort option:selected").val() == "") 
            {
                $("#sourceAdvancedCustomToPort").prop("readonly", false);
            }
            else
            {
                $("#sourceAdvancedCustomToPort").prop("readonly", true);
            }
        });

        if($("#sourceAdvancedFromPort option:selected").val() !== "") 
        {
           $("#sourceAdvancedCustom").prop("readonly", true);
        }

        $( function() 
        {
            $("#sourceAdvancedToPort").change( function() 
            {
                if ($(this).val() === "") 
                {
                    $("#sourceAdvancedCustomToPort").prop("readonly", false);
                } 
                else 
                {
                    $("#sourceAdvancedCustomToPort").prop("readonly", true);
                }
            });
        });
        if($("#sourceAdvancedToPort option:selected").val() !== "") 
        {
           $("#sourceAdvancedCustomToPort").prop("readonly", true);
        }
    // Fin //
    // Destination //
    $(function() 
    {
        $("#destinationType").on('change', function() 
        {
            var selectValue = $(this).val();
            switch (selectValue) 
            {
                case "any":
                    $("#destinationAdressMask").hide();
                    $("#maskDestination").hide();                
                break;
                case "single":
                    $("#destinationAdressMask").show();
                    $("#maskDestination").hide();
                break;
                case "network":
                    $("#destinationAdressMask").show();
                    $("#maskDestination").show();
                break;
                case "pppoe":
                    $("#destinationAdressMask").hide();
                    $("#maskDestination").hide();
                break;
                case "l2tp":
                    $("#destinationAdressMask").hide();
                    $("#maskDestination").hide();
                break;
                case "wan":
                    $("#destinationAdressMask").hide();
                    $("#maskDestination").hide();
                break;
                case "wanip":
                    $("#destinationAdressMask").hide();
                    $("#maskDestination").hide();
                break;
                case "lan":
                    $("#destinationAdressMask").hide();
                    $("#maskDestination").hide();
                break;
                case "lanip":
                    $("#destinationAdressMask").hide();
                    $("#maskDestination").hide();
                break;
            }
        }).change();
    });
    // Fin //
    // Destination port range //
        $( function() 
        {
            $("#destinationRangeFromPort").change( function() 
            {
                if ($(this).val() === "") {
                    $("#destinationRangeCustom").prop("readonly", false);
                } 
                else 
                {
                    $("#destinationRangeCustom").prop("readonly", true);
                }
            });
        });

        $('#destinationRangeFromPort').on('change', function() 
        {
            $('#destinationRangeToPort').val(this.value).prop('selected', true);
            if($("#destinationRangeToPort option:selected").val() == "") 
            {
                $("#destinationRangeCustomToPort").prop("readonly", false);
            }
            else
            {
                $("#destinationRangeCustomToPort").prop("readonly", true);
            }
        });

        if($("#destinationRangeFromPort option:selected").val() !== "") 
        {
           $("#sourceAdvancedCustom").prop("readonly", true);
        }

        $( function() 
        {
            $("#destinationRangeToPort").change( function() 
            {
                if ($(this).val() === "") 
                {
                    $("#destinationRangeCustomToPort").prop("readonly", false);
                } 
                else 
                {
                    $("#destinationRangeCustomToPort").prop("readonly", true);
                }
            });
        });
        if($("#destinationRangeToPort option:selected").val() !== "") 
        {
           $("#destinationRangeCustomToPort").prop("readonly", true);
        }
    // Fin //
    // Redirect targert port //
    $( function() 
    {
        $("#redirectTargetPort").on('change', function() 
        {
            if($("#redirectTargetPort option:selected").val() == "") 
            {
                $("#redirectTargetPortCustom").prop("readonly", false);
            }
            else
            {
                $("#redirectTargetPortCustom").prop("readonly", true);
            }
        });
    });

    if($("#redirectTargetPort option:selected").val() !== "") 
    {
       $("#redirectTargetPortCustom").prop("readonly", true);
    }
    // Fin
    // Interfaze change //
    $(function() 
    {
        $("#interface").on('change', function() 
        {
            var selectValue = $(this).val();
            switch (selectValue) 
            {
                case "lan":
                    $('#destinationType').val(lan);            
                break;
                case "wan":
                    $("#destinationType").show();
                break;
            }
        }).change();
    });
    // Fin //
    // // Se activa al selecionar el tipo de protocolo lo que realiza es ocultar o mostar el contenido de //
    // de Destination port range y el redirect target port si se selecciona el protocolo ICMP.         //
    function protocolOnChange(sel) 
    {
        if (sel.value=="tcp" || sel.value=="udp" || sel.value=="tcp/udp")
        {
            divA = document.getElementById("advancedSourcePortRange");
            divA.style.display="block";
            divC = document.getElementById("destinationTargetPort");
            divC.style.display="block";
            divD = document.getElementById("redirectTargetPort");
            divD.style.display="block";
        }
        else
        {
            divA = document.getElementById("advancedSourcePortRange");
            divA.style.display="none";
            divC = document.getElementById("destinationTargetPort");
            divC.style.display="none";
            divD = document.getElementById("redirectTargetPort");
            divD.style.display="none";
        }
    }
    // Fin //
</script>
{% include '@Principal/plantillas/declaracionFin.html.twig' %}