{% include '@Principal/plantillas/declaracionCabezera.html.twig' %}
{% include '@Principal/plantillas/cuerpo.html.twig' %}
<div class="container small">
    <div id="content-wrapper">
        <div class="container-fluid">
            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <a href="{{path('dashboard')}}">Dashboard</a>
                </li>
                <li class="breadcrumb-item active">
                    {% if app.user.role == 'ROLE_SUPERUSER' %}
                        List super user - administrator - user
                    {% endif %}
                    {% if app.user.role == 'ROLE_ADMINISTRATOR' %}
                        List Administrator - user
                    {% endif %}
                    {% if app.user.role == 'ROLE_USER' %}
                        List User
                    {% endif %}
                </li>
            </ol>
            <div class="card mb-3">
                <div class="card-header">
                    <i class="fas fa-table"></i>
                    {% if app.user.role == 'ROLE_SUPERUSER' %}
                        Table super user - administrator - user
                    {% endif %}
                    {% if app.user.role == 'ROLE_ADMINISTRATOR' %}
                        Table Administrator - user
                    {% endif %}
                    {% if app.user.role == 'ROLE_USER' %}
                        Table User
                    {% endif %}
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        {% if app.user.role == 'ROLE_SUPERUSER' %}
                            <a href="{{ path('registroSuperUsuario') }}">
                                <button type="button" class="btn btn-success">
                                    Add super user <i class="fa fa-user-plus" aria-hidden="true"></i>
                                </button>
                            </a>
                        <br><br>
                        {% endif %}
                        <table class="table table-sm table-hover table-bordered text-center" id="dtBasicExample">
                            <div class="container">
                                <div class="col-md-12">
                                    {% for msg in app.session.flashbag().get('estatus') %}
                                        <div class="alert alert-info" aria-label="Close">
                                            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                                            <strong>Info!</strong> {{ msg }}
                                        </div>
                                    {% endfor %}
                                </div>
                            </div>
                            <thead class="bg-dark text-white">
                                <tr>
                                    <th>Name</th>                         
                                    <th>Email</th>
                                    <th>Role</th>
                                    <th>Group</th>
                                    {% if app.user.role == 'ROLE_SUPERUSER' %}
                                        <th>Status</th>
                                    {% endif %}
                                    {% if app.user.role == 'ROLE_SUPERUSER' or app.user.role == 'ROLE_ADMINISTRATOR' %}
                                        <th>Edit</th>
                                        <th>Delete</th>
                                    {% endif %}                                 
                                </tr>
                            </thead>
                            <tbody>
                                {% for usuarios in usuario %}
                                    <tr>
                                        <td>{{ usuarios.nombre }} {{ usuarios.apellidos }}</td>
                                        <td>{{ usuarios.email }}</td>
                                        <td>{{ usuarios.role }}</td>
                                        <td>{{ usuarios.grupo }}</td>
                                        {% if app.user.role == 'ROLE_SUPERUSER' %}
                                            <td>
                                                <a href="{{ path('actualizarEstado',{id:usuarios.id})}}">
                                                    <button type="button" class="btn btn-primary btn-sm" data-toggle="tooltip" data-placement="right" 
                                                        {% if usuarios.estado == true %}
                                                            title="Press to disabled "        
                                                        {% endif %}
                                                        {% if usuarios.estado == false %}
                                                             title="Press to active"
                                                        {% endif %} name="status">
                                                        {% if usuarios.estado == true %}
                                                            Active       
                                                        {% endif %}
                                                        {% if usuarios.estado == false %}
                                                            Disabled 
                                                        {% endif %}
                                                    </button>
                                                </a>
                                            </td>
                                        {% endif %}
                                        {% if app.user.role == 'ROLE_SUPERUSER' or app.user.role == 'ROLE_ADMINISTRATOR' %}
                                            <td>
                                                <a href="{{ path('editarSuperUsuario',{id:usuarios.id}) }}">
                                                    <button class="btn btn-warning btn-sm" type="submit">
                                                        <small><i class="fas fa-user-edit"></i></small>
                                                    </button>
                                                </a>
                                            </td>
                                            <td>
                                                <a href="{{ path('eliminarUsuario',{id:usuarios.id}) }}">
                                                    <button class="btn btn-danger btn-sm" type="submit">
                                                        <i class="fas fa-user-minus"></i>
                                                    </button>
                                                </a>
                                            </td>
                                        {% endif %}
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% include '@Principal/plantillas/declaracionPiePagina.html.twig' %}
<script>
    $(document).ready(function () {
        $('#dtBasicExample').DataTable();
        $('.dataTables_length').addClass('bs-select');
    });
</script>
 <script>
    window.setTimeout(function() {
        $(".alert").fadeTo(500, 0).slideUp(500, function(){
            $(this).remove(); 
        });
    }, 4000);
</script>
<script>
    $(document).ready(function(){
        $('[data-toggle="tooltip"]').tooltip();   
    });
</script>
{% include '@Principal/plantillas/declaracionFin.html.twig' %}