{% include '@Principal/plantillas/declaracionCabezera.html.twig' %}
{% include '@Principal/plantillas/cuerpo.html.twig' %}
<div class="container small">
    <div id="content-wrapper">
        <div class="container-fluid">
            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <a href="{{path('dashboard')}}">Dashboard</a>
                </li>
                <li class="breadcrumb-item active">
                    List targets categories
                </li>
            </ol>
            <div class="card mb-3">
                <div class="card-header">
                    <i class="fas fa-table"></i>
                    Table targtes categories
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        {% if app.user.role == 'ROLE_ADMINISTRATOR' %}
                            <a href="{{ path('registroTarget') }}">
                                <button type="button" class="btn btn-success">
                                    Add target
                                </button>
                            </a>
                        <br><br>
                        {% endif %}
                        <table class="table table-sm table-hover table-bordered text-center" id="dtBasicExample">
                            <div class="container">
                                <div class="col-md-12">
                                    {% for msg in app.session.flashbag().get('estatus') %}
                                        <div class="alert alert-info" aria-label="Close">
                                            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                                            <strong>Info!</strong> {{ msg }}
                                        </div>
                                    {% endfor %}
                                </div>
                            </div>
                            <thead class="bg-dark text-white">
                                <tr>
                                    <th>Name</th>                         
                                    <th>Values</th>
                                    <th>Group</th>
                                    {% if app.user.role == 'ROLE_SUPERUSER' or app.user.role == 'ROLE_ADMINISTRATOR' %}
                                        <th>Edit</th>
                                        <th>Delete</th>
                                    {% endif %}                                 
                                </tr>
                            </thead>
                            <tbody>
                                {% for targets in target %}
                                    <tr>
                                        <td>{{ targets.nombre }}</td>
                                        <td>{{ targets.redirect }}</td>
                                        <td>{{ targets.descripcion }}</td>
                                        {% if app.user.role == 'ROLE_SUPERUSER' or app.user.role == 'ROLE_ADMINISTRATOR' %}
                                            <td>
                                                <a href="{{ path('editarTarget',{id:targets.id}) }}">
                                                    <button class="btn btn-warning btn-sm" type="submit">
                                                        <small><i class="fas fa-user-edit"></i></small>
                                                    </button>
                                                </a>
                                            </td>
                                            <td>
                                                <a href="{{ path('eliminarTarget',{id:targets.id}) }}">
                                                    <button class="btn btn-danger btn-sm" type="submit">
                                                        <i class="fas fa-user-minus"></i>
                                                    </button>
                                                </a>
                                            </td>
                                        {% endif %}
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                        {% if app.user.role == "ROLE_ADMINISTRATOR" or app.user.role == "ROLE_SUPERUSER" %}
                            <br>
                            <div class="card-header bg-dark text-white">Save the configuration</div>
                            <br>
                            <div class="panel-body text-center">
                                When you do click on save button you are saving the target categories list and if you do click on apply button, the process about new configuration changes will be starting. <br>
                                <b><span style="color: #800000;">Both the save and apply button must be clicked</span></b>. <br><br>
                                <div class="form-group">
                                {% if target == true %} 
                                    <a href="{{path('crearXMLTarget',{id:target[0]['grupo']})}}">
                                        <button type="button" class="btn btn-primary">
                                            <b>  
                                                Save target list <i class="fas fa-save"></i>
                                            </b>
                                        </button>
                                    </a>
                                    <br><br>
                                     <a href="{{path('aplicarXMLTarget',{id:target[0]['grupo']})}}">
                                        <button type="" class="btn btn-success">
                                            <b>  
                                                Apply to aliases list <i class="fas fa-caret-square-down"></i>
                                            </b>
                                        </button>
                                    </a>
                                {% endif %} 
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% include '@Principal/plantillas/declaracionPiePagina.html.twig' %}
<script>
    $(document).ready(function () {
        $('#dtBasicExample').DataTable();
        $('.dataTables_length').addClass('bs-select');
    });
</script>
 <script>
    window.setTimeout(function() {
        $(".alert").fadeTo(500, 0).slideUp(500, function(){
            $(this).remove(); 
        });
    }, 4000);
</script>
<script>
    $(document).ready(function(){
        $('[data-toggle="tooltip"]').tooltip();   
    });
</script>
{% include '@Principal/plantillas/declaracionFin.html.twig' %}