{% include '@Principal/plantillas/declaracionCabezera.html.twig' %}
{% include '@Principal/plantillas/cuerpo.html.twig' %}
<div id="page-wrapper">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">Target categories</h1>
            </div>
        </div>
        <div class="row">
            {{ form_start(form) }}
                <div class="col-md-6">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            Register target categories
                        </div>
                        <div class="panel-body small">
                            <div class="form-row small">
                                <div class="col-md-12">
                                    {% for msg in app.session.flashbag().get('estatus') %}
                                        <div class="alert alert-info" aria-label="Close">
                                            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                                            <strong>Info!</strong> {{ msg }}
                                        </div>
                                    {% endfor %}
                                </div>
                                <div class="form-group">
                                    <label>Choose the device to be apply change</label>
                                    <table class="table table-striped table-bordered table-hover">
                                        <thead class="bg-dark text-white">
                                            <tr>  
                                                <th>Device</th>       
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for grupo in ipGrupos %}
                                                <tr>
                                                    <td>
                                                        <input type="checkbox" class="form-check-input" name="ip[]" value="{{ grupo.descripcion }}" checked> 
                                                        {{ grupo.descripcion }}
                                                    </td>
                                                </tr>
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                                <div class="form-group">   
                                    {{ form_label(form.nombre) }}
                                    <footer>
                                        Enter a unique name of this rule here. The name must consist between 2 and 15 symbols [a-Z_0-9].
                                    </footer>
                                    {{ form_widget(form.nombre) }}
                                    <span class="text-danger">{{ form_errors(form.nombre) }}</span>
                                </div>
                                <div class="form-group">   
                                    {{ form_label(form.domainList) }}
                                    <footer>Enter destination domains or IP-addresses here. To separate them use space.</footer>
                                    <footer>Example: mail.ru e-mail.ru yahoo.com 192.168.1.1</footer>
                                    {{ form_widget(form.domainList) }}
                                    <span class="text-danger">{{ form_errors(form.domainList) }}</span>
                                </div>
                                <div class="form-group">   
                                    {{ form_label(form.urlList) }}
                                    <footer>Enter destination URLs here. To separate them use space.</footer>
                                    <footer>Example: host.com/xxx 12.10.220.125/alisa</footer>
                                    {{ form_widget(form.urlList) }}
                                    <span class="text-danger">{{ form_errors(form.urlList) }}</span>
                                </div>
                                <div class="form-group">   
                                    {{ form_label(form.regularExpression) }}
                                    <footer>Enter word fragments of the destination URL.</footer>
                                    <footer>To separate them use | . Example: mail|casino|game|\.rsdf$</footer>
                                    {{ form_widget(form.regularExpression) }}
                                    <span class="text-danger">{{ form_errors(form.regularExpression) }}</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            General Options
                        </div>
                        <div class="panel-body small">
                            <div class="form-group">   
                                {{ form_label(form.redirectMode) }}
                                <footer>Note: if you use 'transparent proxy', then 'int' redirect mode will not accessible.</footer>
                                <footer>Options:ext url err page , ext url redirect , ext url as 'move' , ext url as 'found'.</footer>
                                {{ form_widget(form.redirectMode) }}
                                <span class="text-danger">{{ form_errors(form.redirectMode) }}</span>
                            </div>
                            <div class="form-group">   
                                {{ form_label(form.redirect) }}
                                <footer>Enter the external redirection URL, error message or size (bytes) here.</footer>
                                {{ form_widget(form.redirect) }}
                                <span class="text-danger">{{ form_errors(form.redirect) }}</span>
                            </div>
                            <div class="form-group">   
                                {{ form_label(form.descripcion) }}
                                <footer>You may enter any description here for your reference.</footer>
                                {{ form_widget(form.descripcion) }}
                                <span class="text-danger">{{ form_errors(form.descripcion) }}</span>
                            </div>
                            <div class="form-group">
                                {{ form_widget(form.Save) }}
                            </div>
                            <div class="form-group">
                                {{ form_widget(form.Clear) }}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            Instructions
                        </div>
                        <div class="panel-body small">
                            Choose the device to apply the chance. <br><br>
                            - Write the name for the new target categorie, remember that the name can not be repeated. <br><br>
                            - The description field is not necessary.
                        </div>
                    </div>
                </div>
            {{ form_end(form) }}
        </div>
    </div>
</div>
{% include '@Principal/plantillas/declaracionPiePagina.html.twig' %}
<script src="{{ asset ('js/jsPagina/aliases/registroAliases.js') }}"></script>
<script>
    window.setTimeout(function() {
        $(".alert").fadeTo(500, 0).slideUp(500, function(){
            $(this).remove(); 
        });
    }, 4000);
</script>
{% include '@Principal/plantillas/declaracionFin.html.twig' %}