{% include '@Principal/plantillas/declaracionCabezera.html.twig' %}
{% include '@Principal/plantillas/cuerpo.html.twig' %}
<div id="page-wrapper">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">Firewall</h1>
            </div>
        </div>
        <div class="row">
            {{ form_start(form) }}
                <div class="col-md-6">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            Register firewall <input type="hidden" name="ubicacion" value="{{ubicacion}}">
                        </div>
                        <div class="panel-body small">
                            <div class="form-row">
                                <div class="col-md-12">
                                    {% for msg in app.session.flashbag().get('estatus') %}
                                        <div class="alert alert-info" aria-label="Close">
                                            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                                            <strong>Info!</strong> {{ msg }}
                                        </div>
                                    {% endfor %}
                                </div>
                                <div class="form-group">  
                                    <label>Action</label><br>
                                    <small class="text-justify small">
                                        Choose what to do with packets that match the criteria specified below.
                                    </small><br>
                                    <small class="text-justify small">
                                        Hint: the difference between block and reject is that with reject, a packet (TCP RST or ICMP port unreachable for UDP) is returned to the sender, whereas with block the packet is dropped silently. In either case, the original packet is discarded.
                                    </small><br><br>
                                    {{ form_widget(form.action) }}
                                    <span class="text-danger">{{ form_errors(form.action) }}</span>
                                </div>
                                <hr>
                                <div class="form-group"> 
                                    <label>Disabled</label>
                                    {{ form_widget(form.estatus) }} <label>Disable this rule.</label><br>
                                    <small class="text-justify small">
                                        Set this option to disable this rule without removing it from the list.
                                    </small>
                                </div>
                                <hr>
                                <div class="form-group">   
                                    <label>Interface</label><br>
                                    <small class="text-justify small">
                                        Choose the interface from which packets must come to match this rule.
                                    </small><br><br>
                                    <select class="form-control input-sm" name="interface">
                                        <option value="wan" selected>WAN</option>
                                        <option value="lan">LAN</option>
                                    </select>
                                </div>
                                <hr>
                                <div class="form-group">   
                                    <label>Address Family</label><br>
                                    <small class="text-justify small">
                                        Select the Internet Protocol version this rule applies to.
                                    </small><br><br>
                                    {{ form_widget(form.adressFamily) }}
                                    <span class="text-danger">{{ form_errors(form.adressFamily) }}</span>
                                </div>
                                <hr>
                                <div class="form-group">   
                                    <label>Protocol</label><br>
                                    <small class="text-justify small">
                                        Choose which IP protocol this rule should match.
                                    </small><br><br>
                                    {{ form_widget(form.protocolo) }}
                                    <span class="text-danger">{{ form_errors(form.protocolo) }}</span>
                                </div>
                                <div id="icmp_subtypes">
                                <hr>
                                <div class="form-group">
                                    <label>ICMP Subtypes</label><br>
                                    <small class="text-justify small">
                                        Choose which IP protocol this rule should match.
                                    </small><br><br>
                                    <select class="form-control input-sm" name="icmp_subtypes[]" multiple="multiple">
                                        <option value="any" selected>any</option>
                                        <option value="althost">Alternate Host</option>
                                        <option value="dataconv">Datagram conversion error</option>
                                        <option value="echorep">Echo reply</option>
                                        <option value="echoreq">Echo request</option>
                                        <option value="inforep">Information reply</option>
                                        <option value="inforeq">Information request</option>
                                        <option value="ipv6-here">IPv6 I-am-here</option>
                                        <option value="ipv6-where">IPv6 where-are-you</option>
                                        <option value="maskrep">Address mask reply</option>
                                        <option value="maskreq">Address mask request</option>
                                        <option value="mobredir">Mobile host redirect</option>
                                        <option value="mobregrep">Mobile registration reply</option>
                                        <option value="mobregreq">Mobile registration request</option>
                                        <option value="paramprob">Parameter problem (invalid IP header)</option>
                                        <option value="photuris">Photuris</option>
                                        <option value="redir">Redirect</option>
                                        <option value="routeradv">Router advertisement</option>
                                        <option value="routersol">Router solicitation</option>
                                        <option value="skip">SKIP</option>
                                        <option value="squench">Source quench</option>
                                        <option value="timerep">Timestamp reply</option>
                                        <option value="timereq">Timestamp</option>
                                        <option value="timex">Time exceeded</option>
                                        <option value="trace">Traceroute</option>
                                        <option value="unreach">Destination unreachable</option>
                                    </select>
                                </div>
                            </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            Source
                        </div>
                        <div class="panel-body small">
                            <div class="form-group">
                                <label class="col-sm-3">Source
                                    {{ form_widget(form.sourceInvertMatch) }}<br><small>Invert match.</small>
                                </label>
                                <div class="col-sm-4">
                                    {{ form_widget(form.sourceType) }}
                                </div>
                                <div class="col-sm-5">
                                    <div class="input-group">
                                        {{ form_widget(form.sourceAddresMask) }}
                                        <span class="input-group-addon input-group-inbetween pfIpMask">/</span>
                                        <select class="form-control input-sm" name="mask" id="mask"> 
                                            {% for i in 32..1 %}
                                                <option value="{{ i }}">{{ i }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <br>
                            <div id="display_advanced">
                                <hr>
                                <div class="form-group">
                                    <small class="text-justify small">
                                        The Source Port Range for a connection is typically random and almost never equal to the destination port. In most cases this setting must remain at its default value, any.
                                    </small><br><br>
                                    <a style='cursor: pointer;' onClick="hide_advanced('source_port_range')"class="btn btn-primary btn-sm boton_mostrar">
                                        Hide advanced <i class="fa fa-cog icon-embed-btn"></i>
                                    </a>
                                </div>
                            </div>
                            <br>
                            <div id="source_port_range">
                                <hr>
                                <div class="form-group">
                                    <label>Source Port Range</label><br>
                                    <small class="text-justify small">
                                        Specify the source port or port range for this rule. The "To" field may be left empty if only filtering a single port.
                                    </small><br><br>
                                    <div class="col-sm-3">
                                        {{ form_widget(form.sourcePortRangeFrom) }}
                                        <span class="help-block">From</span>
                                    </div>
                                    <div class="col-sm-3">
                                        {{ form_widget(form.sourcePortRangeCustom) }}
                                        <span class="help-block">Custom</span>
                                    </div>  
                                    <div class="col-sm-3">
                                        {{ form_widget(form.sourcePortRangeTo) }}
                                        <span class="help-block">To</span>
                                    </div>  
                                    <div class="col-sm-3">
                                       {{ form_widget(form.sourcePortRangeCustomTo) }}
                                        <span class="help-block">Custom</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            Destination
                        </div>
                        <div class="panel-body">
                            <div class="form-group">
                                <label class="col-sm-3">Destination
                                    {{ form_widget(form.destinationInvertMatch) }} <br><small>Invert match.</small>
                                </label>
                                <div class="col-sm-4">
                                    {{ form_widget(form.destinationType) }}
                                </div>
                                <div class="col-sm-5">
                                    <div class="input-group">
                                        {{ form_widget(form.destinationAddresMask) }}
                                        <span class="input-group-addon input-group-inbetween pfIpMask">/</span>
                                        <select class="form-control input-sm" name="maskDestifirewall" id="maskDestifirewall"> 
                                            {% for i in 32..1 %}
                                                <option value="{{ i }}">{{ i }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <br>
                            <div id="destination_port_range">
                                <hr>
                                <div class="form-group">
                                    <label>Destination Port Range</label><br>
                                    <small class="text-justify small">
                                        Specify the destination port or port range for this rule. The "To" field may be left empty if only filtering a single port.
                                    </small><br><br>
                                    <div class="col-sm-3">
                                        {{ form_widget(form.destinationPortRangeFrom) }}
                                        <span class="help-block">From</span>
                                    </div>
                                    <div class="col-sm-3">
                                        {{ form_widget(form.destinationPortRangeCustom) }}
                                        <span class="help-block">Custom</span>
                                    </div>  
                                    <div class="col-sm-3">
                                        {{ form_widget(form.destinationPortRangeTo) }}
                                        <span class="help-block">To</span>
                                    </div>  
                                    <div class="col-sm-3">
                                        {{ form_widget(form.destinationPortRangeCustomTo) }}
                                        <span class="help-block">Custom</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            Extra Options
                        </div>
                        <div class="panel-body">
                            <div class="form-group">
                                <label>Disabled</label>
                                {{ form_widget(form.log) }}
                                <small class="text-justify small">
                                    Log packets that are handled by this rule.
                                </small> <br>
                                <small class="text-justify small">
                                    Hint: the firewall has limited local log space. Don't turn on logging for everything. If doing a lot of logging, consider using a remote syslog server (see the Status: System Logs: Settings page).
                                </small>
                            </div>
                            <hr>
                            <div class="form-group">
                                <label>Description</label><br>
                                <small class="text-justify small">
                                    A description may be entered here for administrative reference. A maximum of 52 characters will be used in the ruleset and displayed in the firewall log.
                                </small><br><br>
                                {{ form_widget(form.descripcion) }}
                            </div>
                            <div class="form-group">
                                {{ form_widget(form.Save) }}
                            </div>
                            <div class="form-group">
                                {{ form_widget(form.Reset) }}
                            </div> 
                        </div>
                    </div>
                </div>
            {{ form_end(form) }}
        </div>
    </div>
</div>
{% include '@Principal/plantillas/declaracionPiePagina.html.twig' %}
<script src="{{ asset ('js/jsPagina/aliases/registroAliases.js') }}"></script>
<script>
    window.setTimeout(function() {
        $(".alert").fadeTo(500, 0).slideUp(500, function(){
            $(this).remove(); 
        });
    }, 4000);
</script>
<script type="text/javascript">
    //Funcion para el campo protocolo.
    $(function() 
    {
        $("#principalbundle_firewalllan_protocolo").on('change', function() 
        {
            var selectValue = $(this).val();
            switch (selectValue) 
            {
                case "any":
                    $("#display_advanced").hide();
                    $("#source_port_range").hide();
                    $("#destination_port_range").hide();
                    $("#icmp_subtypes").hide();
                break;
                case "tcp":
                    $("#display_advanced").show();
                    $("#source_port_range").show();
                    $("#destination_port_range").show();
                    $("#icmp_subtypes").hide();
                break;
                case "udp":
                    $("#display_advanced").show();
                    $("#source_port_range").show();
                    $("#destination_port_range").show();
                    $("#icmp_subtypes").hide();
                break;
                case "tcp/udp":
                    $("#display_advanced").show();
                    $("#source_port_range").show();
                    $("#destination_port_range").show();
                    $("#icmp_subtypes").hide();
                break;
                case "icmp":
                    $("#display_advanced").hide();
                    $("#source_port_range").hide();
                    $("#destination_port_range").hide();
                    $("#icmp_subtypes").show();
                break;
            }
        }).change();
    });
    // Boton display_advanced
    function hide_advanced(id)
    {
        if (document.getElementById)
        {
            var el = document.getElementById(id);
            el.style.display = (el.style.display == "none") ? "block" : "none";
        }
    }
    window.onload = function()
    {
        hide_advanced("source_port_range");
    };
    // Source
    $(function() 
    {
        $("#principalbundle_firewalllan_sourceType").on('change', function() 
        {
            var selectValue = $(this).val();
            switch (selectValue) 
            {
                case "any":
                    $("#principalbundle_firewalllan_sourceAddresMask").hide();
                    $("#mask").hide();                
                break;
                case "single":
                    $("#principalbundle_firewalllan_sourceAddresMask").show();
                    $("#mask").hide();
                break;
                case "network":
                    $("#principalbundle_firewalllan_sourceAddresMask").show();
                    $("#mask").show();
                break;
                case "pppoe":
                    $("#principalbundle_firewalllan_sourceAddresMask").hide();
                    $("#mask").hide();
                break;
                case "l2tp":
                    $("#principalbundle_firewalllan_sourceAddresMask").hide();
                    $("#mask").hide();
                break;
                case "wan":
                    $("#principalbundle_firewalllan_sourceAddresMask").hide();
                    $("#mask").hide();
                break;
                case "wanip":
                    $("#principalbundle_firewalllan_sourceAddresMask").hide();
                    $("#mask").hide();
                break;
                case "lan":
                    $("#principalbundle_firewalllan_sourceAddresMask").hide();
                    $("#mask").hide();
                break;
                case "lanip":
                    $("#principalbundle_firewalllan_sourceAddresMask").hide();
                    $("#mask").hide();
                break;
            }
        }).change();
    }); 
    // Fin
    // Source hide advance
    $( function() 
        {
            $("#principalbundle_firewalllan_sourcePortRangeFrom").change( function() 
            {
                if ($(this).val() === "") {
                    $("#principalbundle_firewalllan_sourcePortRangeCustom").prop("readonly", false);
                } 
                else 
                {
                    $("#principalbundle_firewalllan_sourcePortRangeCustom").prop("readonly", true);
                }
            });
        });

        $('#principalbundle_firewalllan_sourcePortRangeFrom').on('change', function() 
        {
            $('#principalbundle_firewalllan_sourcePortRangeTo').val(this.value).prop('selected', true);
            if($("#principalbundle_firewalllan_sourcePortRangeTo option:selected").val() == "") 
            {
                $("#principalbundle_firewalllan_sourcePortRangeCustomTo").prop("readonly", false);
            }
            else
            {
                $("#principalbundle_firewalllan_sourcePortRangeCustomTo").prop("readonly", true);
            }
        });

        if($("#principalbundle_firewalllan_sourcePortRangeFrom option:selected").val() !== "") 
        {
           $("#principalbundle_firewalllan_sourcePortRangeCustom").prop("readonly", true);
        }

        $( function() 
        {
            $("#principalbundle_firewalllan_sourcePortRangeTo").change( function() 
            {
                if ($(this).val() === "") 
                {
                    $("#principalbundle_firewalllan_sourcePortRangeCustomTo").prop("readonly", false);
                } 
                else 
                {
                    $("#principalbundle_firewalllan_sourcePortRangeCustomTo").prop("readonly", true);
                }
            });
        });
        if($("#principalbundle_firewalllan_sourcePortRangeTo option:selected").val() !== "") 
        {
           $("#principalbundle_firewalllan_sourcePortRangeCustomTo").prop("readonly", true);
        }
    // Fin
    // Destination
    $(function() 
    {
        $("#principalbundle_firewalllan_destinationType").on('change', function() 
        {
            var selectValue = $(this).val();
            switch (selectValue) 
            {
                case "any":
                    $("#principalbundle_firewalllan_destinationAddresMask").hide();
                    $("#maskDestifirewall").hide();                
                break;
                case "single":
                    $("#principalbundle_firewalllan_destinationAddresMask").show();
                    $("#maskDestifirewall").hide();
                break;
                case "network":
                    $("#principalbundle_firewalllan_destinationAddresMask").show();
                    $("#maskDestifirewall").show();
                break;
                case "pppoe":
                    $("#principalbundle_firewalllan_destinationAddresMask").hide();
                    $("#maskDestifirewall").hide();
                break;
                case "l2tp":
                    $("#principalbundle_firewalllan_destinationAddresMask").hide();
                    $("#maskDestifirewall").hide();
                break;
                case "wan":
                    $("#principalbundle_firewalllan_destinationAddresMask").hide();
                    $("#maskDestifirewall").hide();
                break;
                case "wanip":
                    $("#principalbundle_firewalllan_destinationAddresMask").hide();
                    $("#maskDestifirewall").hide();
                break;
                case "lan":
                    $("#principalbundle_firewalllan_destinationAddresMask").hide();
                    $("#maskDestifirewall").hide();
                break;
                case "lanip":
                    $("#principalbundle_firewalllan_destinationAddresMask").hide();
                    $("#maskDestifirewall").hide();
                break;
            }
        }).change();
    }); 
    // Fin
    // Source hide advance
    $( function() 
        {
            $("#principalbundle_firewalllan_destinationPortRangeFrom").change( function() 
            {
                if ($(this).val() === "") {
                    $("#principalbundle_firewalllan_destinationPortRangeCustom").prop("readonly", false);
                } 
                else 
                {
                    $("#principalbundle_firewalllan_destinationPortRangeCustom").prop("readonly", true);
                }
            });
        });

        $('#principalbundle_firewalllan_destinationPortRangeFrom').on('change', function() 
        {
            $('#principalbundle_firewalllan_destinationPortRangeTo').val(this.value).prop('selected', true);
            if($("#principalbundle_firewalllan_destinationPortRangeTo option:selected").val() == "") 
            {
                $("#principalbundle_firewalllan_destinationPortRangeCustomTo").prop("readonly", false);
            }
            else
            {
                $("#principalbundle_firewalllan_destinationPortRangeCustomTo").prop("readonly", true);
            }
        });

        if($("#principalbundle_firewalllan_destinationPortRangeFrom option:selected").val() !== "") 
        {
           $("#principalbundle_firewalllan_destinationPortRangeCustom").prop("readonly", true);
        }

        $( function() 
        {
            $("#principalbundle_firewalllan_destinationPortRangeTo").change( function() 
            {
                if ($(this).val() === "") 
                {
                    $("#principalbundle_firewalllan_destinationPortRangeCustomTo").prop("readonly", false);
                } 
                else 
                {
                    $("#principalbundle_firewalllan_destinationPortRangeCustomTo").prop("readonly", true);
                }
            });
        });
        if($("#principalbundle_firewalllan_destinationPortRangeTo option:selected").val() !== "") 
        {
           $("#principalbundle_firewalllan_destinationPortRangeCustomTo").prop("readonly", true);
        }
    // Fin
</script>
{% include '@Principal/plantillas/declaracionFin.html.twig' %}